Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - install:client
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  dependencies:
  - install:server
  artifacts:
    paths:
    - server/coverage/

feat: amélioration de l'UX et uniformisation des interfaces
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/features/game-preview-card/game-preview-card.component.scss
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.scss
  client/src/app/interfaces/game-parameters.interface.ts
  client/src/app/pages/parameters-page/parameters-page.component.html
  client/src/app/pages/parameters-page/parameters-page.component.scss
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: install:client, lint:client, test:client

Amélioration UX: vouvoiement, uniformisation cartes joueurs et corrections visuelles
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/errors-badge/errors-badge.component.html
  client/src/app/components/features/player-card/player-card.component.html
  client/src/app/components/features/player-card/player-card.component.scss
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.html
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.html
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.scss
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.scss
  client/src/app/pages/parameters-page/parameters-page.component.html
  client/src/app/services/in-game/in-game.service.ts
Due: install:client, lint:client, test:client

test: ajustement des tests pour correspondre au code actuel
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
Due: install:client, lint:client, test:client

refactor: suppression de commentaires inutiles
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.spec.ts
Due: install:client, lint:client, test:client

style: changement du visuel du téléporteur
  client/src/assets/images/tiles/teleport.png
Due: install:client, lint:client, test:client

feat(ui): amélioration de l'interface utilisateur de la session de jeu
  client/src/app/components/features/game-map-footer/game-map-footer.component.scss
  client/src/app/components/features/game-map-header/game-map-header.component.scss
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.html
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.scss
  client/src/app/enums/team-color.enum.ts
Due: install:client, lint:client, test:client

fix(game-editor): correction de la vérification des canaux de téléportation
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

refactor: changement de couleur de text
  client/src/app/pages/join-session-page/join-session-page.component.scss
Due: install:client, lint:client, test:client

refactor: changement de couleur de text
  client/src/app/pages/management-page/management-page.component.scss
Due: install:client, lint:client, test:client

Refonte complète de l'overlay de combat avec améliorations UX
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/combat-result/combat-result.component.scss
  client/src/app/services/combat/combat.service.ts
Due: install:client, lint:client, test:client

fix: format files
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-result/combat-result.component.scss
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.html
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/components/features/players-list/players-list.component.ts
Due: install:client, lint:client, test:client

tests: improve coverage
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.spec.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.spec.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-preview-card/game-preview-card.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/components/features/session-card/session-card.component.spec.ts
  client/src/app/pages/statistics-page/statistics-page.component.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-editor-teleport/game-editor-teleport.service.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/notification/notification.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
Due: install:client, lint:client, test:client

fix: lint and format
  client/src/app/components/features/session-card/session-card.component.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
Due: install:client, lint:client, test:client

suppression des controlleurs de generation de dto
  client/src/app/pages/statistics-page/statistics-page.component.scss
  client/src/app/pages/statistics-page/statistics-page.component.ts
  server/app/modules/chat/chat.module.ts
  server/app/modules/chat/controllers/chat.controller.spec.ts
  server/app/modules/chat/controllers/chat.controller.ts
  server/app/modules/in-game/controllers/in-game.controller.spec.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/virtual-player/vp-strategy.service.ts
  server/app/modules/session/controllers/session.controller.spec.ts
  server/app/modules/session/controllers/session.controller.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/session.module.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: ramasser le drapeau quand on est dans un bateau
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.ts
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.spec.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:server, lint:server, test:server

ajout des tests pour validation.util avec couverture 100%
  server/app/utils/validation/validation.util.spec.ts
Due: install:server, lint:server, test:server

test: ameliorer le coverage dee session service
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

regroupement des constantes dans /constants avec nomenclature explicite incluant les unités
  server/app/constants/game-config.constants.ts
  server/app/constants/virtual-player.constants.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

ajout de FLEE_DISTANCE_TILES et suppression de vp-strategy.service.ts
  server/app/constants/virtual-player.constants.ts
  server/app/modules/in-game/services/virtual-player/vp-strategy.service.ts
Due: install:server, lint:server, test:server

test: plus de tests
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/tracking/tracking.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
Due: install:server, lint:server, test:server

correction des imports dans session.service.spec.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

test: amélioration couverture tests action, combat-timer et movement services
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.spec.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
Due: install:server, lint:server, test:server

feat: Ajout d'un événement dédié pour les demandes de transfert de drapeau aux joueurs virtuels
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
Due: install:server, lint:server, test:server

refactor: renommer join-avatar-selection.ts en join-avatar-selection.dto.ts
  server/app/modules/session/dto/join-avatar-selection.dto.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:server, lint:server, test:server

Retrait de tous les loggers du serveur
  server/app/app.module.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.spec.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/utils/validation/validation.util.spec.ts
  server/app/utils/validation/validation.util.ts
Due: install:server, lint:server, test:server

test: increase coverage
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/tracking/tracking.service.spec.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.spec.ts
Due: install:server, lint:server, test:server

fix chargement images
  client/package.json
  client/scripts/optimize-images.js
  client/src/app/components/features/avatar-card/avatar-card.component.html
  client/src/app/components/features/avatar-grid/avatar-grid.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/flag-transfer-overlay/flag-transfer-overlay.component.html
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/features/player-card/player-card.component.html
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.html
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.html
  client/src/app/pages/character-creation-page/character-creation-page.component.html
Due: install:client, lint:client, test:client

Centralisation exhaustive des constantes côté client
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/combat-timer/combat-timer.component.html
  client/src/app/components/features/combat-timer/combat-timer.component.ts
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.html
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.html
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/components/ui/input/input.component.ts
  client/src/app/constants/color.constants.ts
  client/src/app/constants/combat.constants.ts
  client/src/app/constants/game-editor.constants.ts
  client/src/app/constants/input.constants.ts
  client/src/app/constants/player.constants.ts
  client/src/app/constants/timer.constants.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/player/player.service.ts
Due: install:client, lint:client, test:client

Refactorisation: gestion automatique du verrouillage des sessions côté serveur
  client/src/app/services/session/session.service.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Suppression du code mort lié au verrouillage automatique des sessions
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/session/session.service.ts
  common/enums/session-events.enum.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Suppression des méthodes inutilisées et leurs tests
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.ts
Due: install:client, lint:client, test:client

refactor: centraliser tous les types anonymes dans fichiers types dédiés
  client/src/app/components/features/avatar-card/avatar-card.component.ts
  client/src/app/components/features/errors-badge/errors-badge.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/messages-zone/messages-zone.component.ts
  client/src/app/components/ui/button/button.component.ts
  client/src/app/interfaces/combat-data.interface.ts
  client/src/app/interfaces/notification-message.interface.ts
  client/src/app/interfaces/style.interface.ts
  client/src/app/pages/statistics-page/statistics-page.component.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/types/component.types.ts
  client/src/app/types/game.types.ts
Due: install:client, lint:client, test:client

fix: fermeture automatique du sanctuaire refactor : enlever le logger du vp
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.html
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.spec.ts
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.ts
  client/src/app/enums/sanctuary-description.enum.ts
  client/src/app/interfaces/game-over-data.interface.ts
  client/src/app/interfaces/opened-sanctuary.interface.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.spec.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: tests, lint et format
  client/src/app/interfaces/game-over-data.interface.ts
  client/src/app/interfaces/opened-sanctuary.interface.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: suppression interfaces anonymes retour fonctions et commentaires
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/constants/combat.constants.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/game-map/game-map.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Clean project: remove non-essential documentation files
  CONTRIBUTING.md
  DEPLOYMENT.md
  server/README.md
  static/assistant_de_lancement_d_instance.png
  static/aws_ec2_instances_tableau_de_bord.png
  static/aws_ec2_paires_de_cles_tableau_de_bord.png
  static/aws_iam_creer_un_role.png
  static/aws_iam_role_information.png
  static/aws_iam_role_information_2.png
  static/aws_iam_roles.png
  static/aws_iam_search.png
  static/choix_ami.png
  static/cloud_watch_1.png
  static/cloud_watch_2.png
  static/configurer_le_stockage.png
  static/connexion_ssh.png
  static/console_aws.png
  static/creeer_paire_de_cles.png
  static/creer_groupe_de_securite_1.png
  static/creer_groupe_de_securite_2.png
  static/groupes_de_securite.png
  static/lancer_l_instance.png
  static/paire_de_cles.png
  static/parametres_reseau.png
  static/profile_d_instance_iam.png
  static/type_d_instance.png
Due: install:server, lint:server, test:server

Security: Remove .env from Git and add to .gitignore
  server/.env
  server/.gitignore
Due: install:server, lint:server, test:server

Add Render deployment configuration
  client/src/environments/environment.prod.ts
  render-build.sh
  render.yaml
  server/package.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Translate UI to English: home, join session, character creation, statistics, players list
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/session-card/session-card.component.html
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/home-page/home-page.component.html
  client/src/app/pages/join-session-page/join-session-page.component.html
  client/src/app/pages/statistics-page/statistics-page.component.html
Due: install:client, lint:client, test:client

Complete UI translation to English: player info, game over, waiting room, tile modal
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.html
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.html
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.html
  client/src/app/pages/home-page/home-page.component.html
  client/src/app/pages/management-page/management-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
Due: install:client, lint:client, test:client

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
