Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

Update home page footer: show only Ilyes Jamoussi and remove unused code
  client/src/app/pages/home-page/home-page.component.html
  client/src/app/pages/home-page/home-page.component.ts
Due: install:client, lint:client, test:client

Translate parameters page and game preview card to English
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/pages/parameters-page/parameters-page.component.html
Due: install:client, lint:client, test:client

Translate complete editor page to English
  client/src/app/pages/editor-page/editor-page.component.html
Due: install:client, lint:client, test:client

Translate parameters page options to English
  client/src/app/pages/parameters-page/parameters-page.component.ts
Due: install:client, lint:client, test:client

Translate error messages to English for game editor and character creation
  client/src/app/services/character-creation-check/character-creation-check.service.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

Translate map size labels to English
  common/constants/game.constants.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Translate all remaining UI elements to English: chat, VP modal, tile/object labels, sanctuary descriptions, game mode labels
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/game-preview-card/game-preview-card.component.ts
  client/src/app/components/features/virtual-player-modal/virtual-player-modal.component.html
  client/src/app/enums/placeable-label.enum.ts
  client/src/app/enums/sanctuary-description.enum.ts
  client/src/app/enums/tile-label.enum.ts
Due: install:client, lint:client, test:client

Translate all remaining UI to English: player/VP cards, session creation page
  client/src/app/components/features/player-card/player-card.component.html
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.html
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.html
Due: install:client, lint:client, test:client

Translate all notification messages to English
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
Due: install:client, lint:client, test:client

Translate all server response messages to English
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:server, lint:server, test:server

Translate management page no games message to English
  client/src/app/pages/management-page/management-page.component.html
Due: install:client, lint:client, test:client

Translate errors badge to English
  client/src/app/components/features/errors-badge/errors-badge.component.html
Due: install:client, lint:client, test:client

Update backend URL to use EC2 instance and secure SSH key
  .gitignore
  client/src/environments/environment.prod.ts
Due: install:client, lint:client, test:client

Add GitHub Actions workflow for automatic deployment to EC2
  .github/workflows/deploy.yml
Due: none

Translate map size and game mode display to English in session cards
  client/src/app/constants/display.constants.ts
Due: install:client, lint:client, test:client

Update Node.js version to 20 in GitHub Actions
  .github/workflows/deploy.yml
Due: none

Update README with professional Manor Tactics documentation
  README.md
Due: none

Rewrite README with focus on features and technical expertise
  README.md
Due: none

Update demo links to 'Play Now' without icon
  README.md
Due: none

Add visual language badges like Robot project
  README.md
Due: none

Fix image display format in README
  README.md
Due: none

Simplify Play Now presentation with clean heading format
  README.md
Due: none

Translate delete game confirmation to English
  client/src/app/pages/management-page/management-page.component.ts
Due: install:client, lint:client, test:client

Translate leave game confirmations to English
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
Due: install:client, lint:client, test:client

Configure deployment to EC2 with log2900 database
  .github/workflows/deploy.yml
  README.md
  client/src/environments/environment.prod.ts
Due: install:client, lint:client, test:client

Fix YAML syntax in workflow
  .github/workflows/deploy.yml
Due: none

Fix YAML heredoc syntax
  .github/workflows/deploy.yml
Due: none

Create directories before deployment
  .github/workflows/deploy.yml
Due: none

Fix Angular build path
  .github/workflows/deploy.yml
Due: none

Fix scp syntax for frontend copy
  .github/workflows/deploy.yml
Due: none

Add debug output for build structure
  .github/workflows/deploy.yml
Due: none

Add debug and fallback for frontend copy
  .github/workflows/deploy.yml
Due: none

Improve build debug output
  .github/workflows/deploy.yml
Due: none

Fix working directory for deployment
  .github/workflows/deploy.yml
Due: none

Use absolute path for scp
  .github/workflows/deploy.yml
Due: none

Fix: rename env vars to avoid system conflicts
  .github/workflows/deploy.yml
Due: none

Add build verification before deployment
  .github/workflows/deploy.yml
Due: none

Use dot notation for scp (best practice)
  .github/workflows/deploy.yml
Due: none

Fix automated deployment workflow
  .github/workflows/deploy.yml
Due: none

Add directory creation step in deployment
  .github/workflows/deploy.yml
Due: none
