Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - install:client
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  dependencies:
  - install:server
  artifacts:
    paths:
    - server/coverage/

feat: fermeture automatique de la requête de transfert en fin de tour
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/enums/in-game-events.enum.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: amélioration page de création de session - filtrer par tout, ctf ou classic
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/features/game-preview-card/game-preview-card.component.scss
  client/src/app/pages/session-creation-page/session-creation-page.component.html
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/services/game-store/game-store.service.ts
  client/src/app/types/game-tab.types.ts
Due: install:client, lint:client, test:client

feat: ajout des logs relatifs au drapeau
  common/enums/game-log-entry-type.enum.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
  server/app/modules/in-game/services/action/action.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: affichage de l'equipe adverse en rouge, equipe alliée en bleu, joueur courant en vert
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/enums/team-color.enum.ts
  client/src/app/services/player/player.service.ts
Due: install:client, lint:client, test:client

feat: améliorations UI session creation, couleurs équipes et refactorisations
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/features/game-preview-card/game-preview-card.component.scss
  client/src/app/enums/team-color.enum.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.html
  client/src/app/types/game-tab.types.ts
  server/app/interfaces/move-data.interface.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: tests
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
Due: install:client, lint:client, test:client

fix: server tests
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
Due: install:server, lint:server, test:server

fix: ajout de scripts de check crossplatform (.sh n'est que sur MacOS et linux)
  client/package.json
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  scripts/check-quality.mjs
  scripts/check-unnecessary-files.mjs
Due: install:client, lint:client, test:client

fix: bug mise a jour icone drapeau sur joueur quand il meurt fix: edge case prendre le drapeau en sortant du bateau fix: empecher les mouvements sur les sanctuaires
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:server, lint:server, test:server

feat: améliorations système d'actions et mouvements
  client/src/app/components/features/game-map-footer/game-map-footer.component.html
  client/src/app/components/features/game-map-footer/game-map-footer.component.scss
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.scss
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
Due: install:client, lint:client, test:client

fix: tests client et formattage
  client/src/app/components/features/game-map-footer/game-map-footer.component.html
  client/src/app/components/features/game-map-footer/game-map-footer.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
Due: install:client, lint:client, test:client

fix: replacement du drapeau lors de la mort de son détenteur
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
Due: install:server, lint:server, test:server

fix: compter les tÃ©lÃ©portations sur les tuiles TELEPORT au lieu du mode admin
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
  server/app/modules/in-game/services/tracking/tracking.service.ts
Due: install:server, lint:server, test:server

fix: tÃ©lÃ©portation en mode admin gÃ¨re les tuiles TELEPORT, drapeau et victoire CTF
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
Due: install:server, lint:server, test:server

feat: ajout d'un header visuel au chat dans les pages statistics et waiting-room
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/chat/chat.component.scss
  client/src/app/components/features/chat/chat.component.ts
  client/src/app/pages/statistics-page/statistics-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
Due: install:client, lint:client, test:client

fix des problemes de lint
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
Due: install:server, lint:server, test:server

fix d'un warning
  client/src/app/components/features/game-preview-card/game-preview-card.component.scss
Due: install:client, lint:client, test:client

feat(joueurs-virtuels): implémentation comportement CTF et refonte combat overlay
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/combat-result/combat-result.component.html
  client/src/app/components/features/combat-result/combat-result.component.scss
  client/src/app/components/features/combat-result/combat-result.component.spec.ts
  client/src/app/components/features/combat-result/combat-result.component.ts
  client/src/app/components/features/combat-timer/combat-timer.component.scss
  client/src/app/components/features/game-map-header/game-map-header.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Amélioration du visuel de clavardage et des notifications de combat
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/chat/chat.component.scss
  client/src/app/components/features/chat/chat.component.ts
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-result/combat-result.component.scss
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.html
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.scss
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/pages/statistics-page/statistics-page.component.html
  client/src/app/pages/statistics-page/statistics-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: install:client, lint:client, test:client

refactor: page admin pour que ca soit utile sur des pages plus petites
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.scss
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.scss
  client/src/app/pages/editor-page/editor-page.component.scss
Due: install:client, lint:client, test:client

fix(joueurs-virtuels): correction de la gestion des tours
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
Due: install:server, lint:server, test:server

refactor: changement de couleurs des textes wui on pas un bon contraste
  client/src/app/pages/join-session-page/join-session-page.component.scss
  client/src/app/pages/management-page/management-page.component.scss
Due: install:client, lint:client, test:client

refactor: ajout d'un evenement specifique pour les combats de joueurs virtuels pouir eviter de trigger la fonction a chaque fois - ajout d'une fonction is virtual player
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/timer/timer.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
Due: install:server, lint:server, test:server

feat(vp): Refactorisation majeure et amélioration du système d'IA des joueurs virtuels
  server/app/constants/vp.config.ts
  server/app/enums/server-events.enum.ts
  server/app/interfaces/vp-config.interface.ts
  server/app/interfaces/vp-evaluated-action.interface.ts
  server/app/interfaces/vp-gameplay.interface.ts
  server/app/interfaces/vp-pathfinding-internal.interface.ts
  server/app/interfaces/vp-pathfinding.interface.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
Due: install:server, lint:server, test:server

feat(vp-pathfinding): Ajout de la prise en compte des téléporteurs dans le pathfinding
  server/app/constants/vp.config.ts
  server/app/interfaces/vp-pathfinding.interface.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
Due: install:server, lint:server, test:server

feat: ajout de configuration de joueur virtuel pour le CTF - todo : implementation logique
  server/app/constants/vp.config.ts
  server/app/interfaces/vp-config.interface.ts
Due: install:server, lint:server, test:server

feat: terminer la session de jeu quand il ne reste que des joueurs virtuels
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
Due: install:server, lint:server, test:server

fix(vp): Amélioration exécution tours VP et pathfinding
  server/app/constants/vp.config.ts
  server/app/interfaces/vp-gameplay.interface.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
Due: install:server, lint:server, test:server

fix: retrait virtual player service buggé
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
Due: install:server, lint:server, test:server

refactor: retrait methodes intuiles gameplay.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
Due: install:server, lint:server, test:server

refactor: retrait methodesi inutilisees gameplay service
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
Due: install:server, lint:server, test:server

fix: envoyer game log avant la suppression session
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
Due: install:server, lint:server, test:server

feat: prioriser les chemins qui permettent d'atteindre la cible et d'executer l'action - e.g ne pas prendre un bateau si on peut aller a la cible sans bateau et l'attaquer
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.ts
Due: install:server, lint:server, test:server

feat(vp): améliorer la logique de décision et de mouvement des bots
  server/app/constants/virtual-player.constants.ts
  server/app/constants/vp.config.ts
  server/app/interfaces/vp-gameplay.interface.ts
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
Due: install:server, lint:server, test:server

fix(turn-timer): ajouter protection contre crash lors de suppression de session
  server/app/modules/in-game/services/turn-timer/turn-timer.service.ts
Due: install:server, lint:server, test:server

fix: nettoyage timer
  server/app/modules/in-game/services/turn-timer/turn-timer.service.ts
Due: install:server, lint:server, test:server

feat(game-log): utiliser chatId pour l'émission des logs et intégrer les logs dans la page stats
  client/src/app/pages/statistics-page/statistics-page.component.html
  client/src/app/pages/statistics-page/statistics-page.component.scss
  client/src/app/pages/statistics-page/statistics-page.component.ts
  common/interfaces/session.interface.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
