Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

feat: ajout des contrôles de jeu et interface améliorée
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/package-lock.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: encapsuler l'accès à inGameService via des getters du composant
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
Due: install:client, lint:client, test:client

feat : ajout du mode admin sans la logique de deplacement
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/admin-mode/admin-mode.service.spec.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  common/constants/in-game-events.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(deplacement): correction entre l'interaction joueur et les murs
  server/app/modules/in-game/services/in-game-movement.service.ts
Due: install:server, lint:server, test:server

fix: utiliser keyup plutot que keydown pour les evenements clavier -repond mieux aux specifications du projet
  client/src/app/services/in-game-keyboard-events/in-game-keyboard-events.service.ts
Due: install:client, lint:client, test:client

feat: implémentation de l'ordre des tours en fonction de la "speed", et afficher/masquer les personnages/points de depart
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/constants/session.constants.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/models/session.interface.ts
  server/app/modules/in-game/services/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/in-game/services/turn-engine.service.spec.ts
  server/app/modules/in-game/services/turn-engine.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat(game-map): extraire la tuile en composant et ajouter une modale pour les infos de la tuile (clic droit)
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.html
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.scss
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.scss
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/services/game-map/game-map.service.ts
Due: install:client, lint:client, test:client

feat: verrouillage automatique sessions pleines et chargement initial
  client/src/app/pages/join-session-page/join-session-page.component.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/session/session.service.ts
  common/constants/session-events.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction du flux de rejoindre session et gestion isAdmin
  client/src/app/pages/join-session-page/join-session-page.component.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  server/app/modules/session/controllers/session-dto.controller.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/module/session.module.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Nettoyage lint serveur et ajout règles qualité
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/ui/icon/icon.component.ts
  client/src/app/directives/ui-base/ui-base.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/services/character-creation-check/character-creation-check.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-map/game-map.service.ts
  eslint.config.basic.mjs
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Correction tests client et serveur - tous passent maintenant
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/ui/icon/icon.component.ts
  client/src/app/directives/ui-base/ui-base.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-map/game-map.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: synchronisation des noms de joueurs entre carte joueur et liste
  client/src/app/dto/session-joined-dto.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  common/constants/session-events.ts
  server/app/modules/session/dto/join-session.dto.ts
  server/app/modules/session/dto/player-name-updated.dto.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(2.2 Attributs): suppression de code non utilise et de certains tests inutiles.
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/ui/input/input.component.html
  client/src/app/components/ui/input/input.component.ts
  client/src/app/directives/ui-base/ui-base.component.spec.ts
  client/src/app/directives/ui-base/ui-base.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/home-page/home-page.component.spec.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

chore(saveGame): division de la methode saveGame() en plusieurs petite methodes helper
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

chore(test game-editor): supression des commentaires
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
Due: install:client, lint:client, test:client

chore(routes): placement des constantes pour les routes dans un enum dans commons
  client/src/app/components/features/notification-display/notification-display.component.spec.ts
  client/src/app/components/ui/page-layout/page-layout.component.spec.ts
  client/src/app/components/ui/sidebar/sidebar.component.spec.ts
  client/src/app/constants/routes.constants.ts
  client/src/app/interfaces/notification-message.interface.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/pages/management-page/management-page.component.spec.ts
  client/src/app/pages/management-page/management-page.component.ts
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.spec.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  client/src/main.ts
  common/enums/routes.enum.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(ButtonVariant): changement de ButtonVariant et ButtonSize dans un enum dans common
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/ui/button/button.component.ts
  client/src/app/pages/home-page/home-page.component.html
  client/src/app/pages/management-page/management-page.component.html
  client/src/app/pages/parameters-page/parameters-page.component.html
  common/enums/button-variant.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(input): mis dans un enum les differents types de input
  client/src/app/components/ui/input/input.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/editor-page/editor-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  common/enums/input-variants.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(input-button): regler probleme ou les enum ne fonctionnaient pas dans les html
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/ui/button/button.component.ts
  client/src/app/components/ui/input/input.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/editor-page/editor-page.component.html
  client/src/app/pages/home-page/home-page.component.html
  client/src/app/pages/management-page/management-page.component.html
  client/src/app/pages/parameters-page/parameters-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  common/enums/button-variant.enum.ts
  common/enums/input-variants.enum.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(test): correction de certain tests utilisant les nouveaux enum
  client/src/app/components/features/notification-display/notification-display.component.spec.ts
  client/src/app/components/ui/button/button.component.spec.ts
Due: install:client, lint:client, test:client

fix: test coté serveur pour le module in-game
  server/app/modules/in-game/services/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game.service.spec.ts
  server/app/modules/in-game/services/turn-engine.service.spec.ts
Due: install:server, lint:server, test:server

ferat: terminer la partie automatiquement quand le nombre de joueur est inférieur à 1
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/in-game/services/turn-engine.service.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: traitement d'un raffrachissment comme un abandon
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: les objets placés autre que les start points apparaissent
  client/src/app/services/game-map/game-map.service.ts
Due: install:client, lint:client, test:client

fix: bug de sessions lorsqu'un joueur quitte - cleanup des sessions côté client lors d'une fin de partie
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: implémentation de la prévisualisation des tuiles atteignables
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.scss
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/reachable-tiles/reachable-tiles.service.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/session/session.service.ts
  common/enums/tile-kind.enum.ts
  server/app/modules/in-game/services/in-game-initialization.service.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: déplacer la logique reachable tiles du côté du serveur - le serveur envoie les evenements avec un tableau de tiles atteignable - suivre les recommendations des chargés
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game-events.ts
  common/interfaces/board-tile.interface.ts
  common/interfaces/reachable-tile.interface.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/game-cache.service.ts
  server/app/modules/in-game/services/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/in-game/services/turn-engine.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: ancienne tile visitée accessible - mettre à jour correctement la game map coté serveur lors d'un déplacement
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/game-cache.service.ts
  server/app/modules/in-game/services/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: implémentation du système d'actions et indicateurs visuels
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/constants/session.constants.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game-events.ts
  common/interfaces/available-action.interface.ts
  common/models/turn-state.interface.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/module/in-game.module.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/turn-engine/turn-engine.service.spec.ts
  server/app/modules/in-game/services/turn-engine/turn-engine.service.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix : activation du mode admin dans le inGame gateway
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:server, lint:server, test:server

feat: implémentation du système d'actions pour les portes
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/module/in-game.module.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: implémentation du système de combat avec overlay visuel
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(bool): supression des bools inutiles
  client/src/app/pages/editor-page/editor-page.component.ts
  client/src/app/services/character-creation-check/character-creation-check.service.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(game-store): simplification de l'expression terner imbriquee
  client/src/app/services/game-store/game-store.service.ts
Due: install:client, lint:client, test:client

fix: quitter la socket room lié à ingame session id
  server/app/modules/in-game/gateways/in-game.gateway.ts
Due: install:server, lint:server, test:server

chore(t): changement du nom de la variable t a des nom plus significatif
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/game-map/game-map.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
  server/app/modules/game-store/utils/tile/tile.util.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server
