Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - install:client
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  dependencies:
  - install:server
  artifacts:
    paths:
    - server/coverage/

ajout de tests pour fichiers cote clients
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/components/ui/input/input.component.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/in-game-keyboard-events/in-game-keyboard-events.service.spec.ts
  client/src/app/services/in-game-socket/in-game-socket.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.spec.ts
Due: install:client, lint:client, test:client

ajout de tests pour admin-mode et combat service
  client/src/app/services/admin-mode/admin-mode.service.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
Due: install:client, lint:client, test:client

chore(combat-interface): utilisation d'interface pour les objets anonymes
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/components/features/player-card/player-card.component.ts
  common/interfaces/combat.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(player): utilisation d'interface pour les objets anonymes
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/components/features/player-card/player-card.component.ts
  common/interfaces/player-card-classes.interface.ts
  common/interfaces/player-stat.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

ajout de tests pour combat overlay, combat timer, game map tile, turn timer, game session et charcater creation check
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/combat-timer/combat-timer.component.spec.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.spec.ts
  client/src/app/components/features/game-map-header/game-map-header.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/turn-timer/turn-timer.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/services/character-creation-check/character-creation-check.service.spec.ts
  client/src/app/services/combat-socket/combat-socket.service.spec.ts
Due: install:client, lint:client, test:client

tests: coverage in-game -> timer.service server
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:server, lint:server, test:server

tests: 100% coverage combat-timer.service coté serveur
  server/app/modules/in-game/services/combat-timer/combat-timer.service.spec.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
Due: install:server, lint:server, test:server

tests: 100% coverage combat.service côté serveur
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:server, lint:server, test:server

Suppression des logs du serveur
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

couverture de code augmente a 97%
  client/src/app/components/features/admin-badge/admin-badge.component.spec.ts
  client/src/app/components/features/game-map-header/game-map-header.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.spec.ts
  client/src/app/services/assets/assets.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/screenshot/screenshot.service.spec.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.spec.ts
Due: install:client, lint:client, test:client

Correction erreurs lint et messages en français
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:server, lint:server, test:server

correction de bugs sur les tests suite au merge
  client/src/app/services/admin-mode/admin-mode.service.spec.ts
  client/src/app/services/combat-socket/combat-socket.service.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/in-game-socket/in-game-socket.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.ts
Due: install:client, lint:client, test:client

couverture de src/app/components/features/game-over-overlay ameliorée a 100%
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
Due: install:client, lint:client, test:client

tests: in game service coverage 100% coté serveur
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:server, lint:server, test:server

tests: game cache service coverage 100% coté serveur
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:server, lint:server, test:server

couverture de src/app/services/combat ameliorée a 100%
  client/src/app/services/combat/combat.service.spec.ts
Due: install:client, lint:client, test:client

test: coverage 100% coté serveur - action service - init service - movement service - session repository
  server/app/modules/in-game/services/in-game-action/in-game-action.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
Due: install:server, lint:server, test:server

tests: complete coverage coté server
  server/app/modules/game-store/gateways/game-store.gateway.spec.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
  server/app/modules/in-game/gateways/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.spec.ts
  server/app/utils/validation/validation.util.ts
Due: install:server, lint:server, test:server

fix: tests server après mise à jour avec dev
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/services/combat/combat.service.ts
  common/interfaces/combat.interface.ts
  server/app/modules/in-game/gateways/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game.gateway.spec.ts
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: mettre les événements du EventEmitter dans une enum
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.spec.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.spec.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
  server/app/modules/in-game/services/timer/timer.service.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.spec.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

fix: lint ligne trop longue
  server/app/modules/in-game/services/combat-timer/combat-timer.service.spec.ts
Due: install:server, lint:server, test:server

refactor: nettoyage des methodes publiques/privees dans le module in-game
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.spec.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:server, lint:server, test:server

refactor: nettoyage fonction inutilisée dans session.service coté serveur
  server/app/modules/session/services/session.service.spec.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

refactor: retirer code commenté dans le fichier spec de in game initialization
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
Due: install:server, lint:server, test:server

fix des problemes de lint
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/combat-timer/combat-timer.component.spec.ts
  client/src/app/components/features/errors-badge/errors-badge.component.spec.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.spec.ts
  client/src/app/components/features/game-map-header/game-map-header.component.spec.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/components/features/turn-timer/turn-timer.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/services/admin-mode/admin-mode.service.spec.ts
  client/src/app/services/character-creation-check/character-creation-check.service.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/screenshot/screenshot.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.spec.ts
Due: install:client, lint:client, test:client

modification du test de combat-overlay suite au merge
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
Due: install:client, lint:client, test:client

refactor: retrait de fichier inutilisés et d'exports inutilisés + déplacement d'interface dans des fichiers dédiés
  client/src/app/components/features/game-info/game-info.component.html
  client/src/app/components/features/game-info/game-info.component.scss
  client/src/app/components/features/game-info/game-info.component.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/constants/player.constants.ts
  client/src/app/constants/validation.constants.ts
  client/src/app/dto/leave-session-dto.ts
  client/src/app/dto/session-ended-dto.ts
  client/src/app/dto/session-left-dto.ts
  client/src/app/enums/character-creation.enum.ts
  client/src/app/enums/game-key.enum.ts
  client/src/app/interfaces/toast.interface.ts
  client/src/app/services/in-game-keyboard-events/in-game-keyboard-events.service.spec.ts
  client/src/app/services/in-game-keyboard-events/in-game-keyboard-events.service.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.ts
  client/src/app/services/reachable-tiles/reachable-tiles.service.ts
  client/src/app/types/notifications.types.ts
Due: install:client, lint:client, test:client

fix: toast import dans le spec du display component de toast
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.spec.ts
Due: install:client, lint:client, test:client

hotfix: amélioration du reset des services lors du retour à la page d'accueil
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
Due: install:client, lint:client, test:client

fix: correction du test HomePage pour les nouveaux services
  client/src/app/pages/home-page/home-page.component.spec.ts
Due: install:client, lint:client, test:client

refactor: suppression des contrôleurs non nécessaires et de leurs imports dans les modules correspondants, nettoyage de la structure des dossiers du serveur
  server/app/app.module.ts
  server/app/modules/game-store/game-store.module.ts
  server/app/modules/game-store/module/game-store.module.spec.ts
  server/app/modules/in-game/controllers/in-game-dto.controller.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/session/controllers/session-dto.controller.ts
  server/app/modules/session/session.module.ts
Due: install:server, lint:server, test:server

fix: correction des chemins d'imports après réorganisation de la structure
  server/app/modules/in-game/gateways/combat/combat.gateway.spec.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/session/session.module.ts
Due: install:server, lint:server, test:server

refactor: retrait deadcode
  client/src/app/components/features/combat-timer/combat-timer.component.spec.ts
  client/src/app/services/admin-mode/admin-mode.service.spec.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
  client/src/app/services/character-creation-check/character-creation-check.service.spec.ts
  client/src/app/services/combat-socket/combat-socket.service.spec.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.spec.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.spec.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.spec.ts
Due: install:client, lint:client, test:client

refactor: nettoyage des commentaires inutiles et standardisation de la langue
  client/src/app/components/features/combat-timer/combat-timer.component.spec.ts
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/components/features/game-map-header/game-map-header.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/directives/tile-size/tile-size-probe.directive.spec.ts
  client/src/app/enums/fa-icons.enum.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.spec.ts
  server/app/index.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: ajout de eslint-disable avec justifications pour les fonctions vides intentionnelles dans les tests
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/directives/tile-size/tile-size-probe.directive.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: retrait deploy
  client/src/app/pages/home-page/home-page.component.html
Due: install:client, lint:client, test:client

feat: implémentation complète du chat temps réel et service de reset
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/chat/chat.component.scss
  client/src/app/components/features/chat/chat.component.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.html
  client/src/app/components/features/game-map-footer/game-map-footer.component.scss
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/components/features/in-game-chat/in-game-chat.component.html
  client/src/app/components/features/in-game-chat/in-game-chat.component.scss
  client/src/app/components/features/in-game-chat/in-game-chat.component.ts
  client/src/app/constants/chat.constants.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
  client/src/app/services/chat-socket/chat-socket.service.ts
  client/src/app/services/chat/chat.service.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/reset/reset.service.ts
  common/constants/chat.ts
  server/app/modules/chat/controllers/chat.controller.ts
  server/app/modules/chat/dto/send-message.dto.ts
  server/app/modules/chat/gateways/chat.gateway.ts
  server/app/modules/chat/services/chat.service.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/session/controllers/session.controller.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction erreur lint - remplacement any par ChatService
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
