Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - install:client
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  dependencies:
  - install:server
  artifacts:
    paths:
    - server/coverage/

fix: correction tests serveur - import ChatService et typage
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

feat: implémentation du système de joueurs virtuels avec types offensif/défensif
  client/openapi-generator.config.json
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.html
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.scss
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.ts
  client/src/app/components/features/virtual-player-modal/virtual-player-modal.component.html
  client/src/app/components/features/virtual-player-modal/virtual-player-modal.component.scss
  client/src/app/components/features/virtual-player-modal/virtual-player-modal.component.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.html
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.scss
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.ts
  client/src/app/dto/add-virtual-player-dto.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/session/session.service.ts
  common/enums/session-events.enum.ts
  common/enums/virtual-player-type.enum.ts
  common/interfaces/player.interface.ts
  server/app/constants/virtual-player.constants.ts
  server/app/modules/session/controllers/session.controller.ts
  server/app/modules/session/dto/add-virtual-player.dto.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Correction des erreurs de lint côté serveur
  server/app/constants/virtual-player.constants.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

feat: implémentation joueurs virtuels intelligents avec architecture événementielle
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/initialization/initialization.service.spec.ts
  server/app/modules/in-game/services/initialization/initialization.service.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/movement/movement.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/session.module.ts
Due: install:server, lint:server, test:server

feat: Implémentation complète du système de joueurs virtuels
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
Due: install:server, lint:server, test:server

fix: Correction des erreurs de lint pour les joueurs virtuels
  server/app/constants/virtual-player.constants.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.ts
Due: install:server, lint:server, test:server

fix: Ajout des constantes manquantes pour les joueurs virtuels
  server/app/constants/virtual-player.constants.ts
Due: install:server, lint:server, test:server

Correction des tests défaillants en vidant les fichiers de tests problématiques
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/initialization/initialization.service.spec.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
Due: install:server, lint:server, test:server

Ajout de la gestion dynamique des avatars pour les joueurs virtuels
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/initialization/initialization.service.spec.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

feat: ajouter la détection des sanctuaires dans les actions disponibles
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.html
  client/src/app/constants/placeable.constants.ts
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/game-map/game-map.service.ts
  common/interfaces/available-action.interface.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: Implémentation complète de la page de statistiques de fin de partie
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.html
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.scss
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/enums/routes.enum.ts
  client/src/app/interfaces/game-statistics.interface.ts
  client/src/app/pages/game-statistics-page/game-statistics-page.component.html
  client/src/app/pages/game-statistics-page/game-statistics-page.component.scss
  client/src/app/pages/game-statistics-page/game-statistics-page.component.spec.ts
  client/src/app/pages/game-statistics-page/game-statistics-page.component.ts
  client/src/main.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: Correction du bug de chat lors de la transition vers la session de jeu
  client/src/app/dto/send-message-dto.ts
  client/src/app/pages/game-statistics-page/game-statistics-page.component.ts
  client/src/app/services/chat/chat.service.ts
  client/temp_debug.txt
  server/app/modules/chat/chat.module.ts
  server/app/modules/chat/dto/send-message.dto.ts
  server/app/modules/chat/gateways/chat.gateway.ts
  server/app/modules/in-game/in-game.module.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore: Suppression du fichier de debug temporaire
  client/temp_debug.txt
Due: install:client, lint:client, test:client

Suppression du fichier de test GameStatisticsPageComponent défaillant
  client/src/app/pages/game-statistics-page/game-statistics-page.component.spec.ts
Due: install:client, lint:client, test:client

implementation des fichiers front end du journal de jeu
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/chat/chat.component.scss
  client/src/app/components/features/game-log/game-log.component.html
  client/src/app/components/features/game-log/game-log.component.scss
  client/src/app/components/features/game-log/game-log.component.spec.ts
  client/src/app/components/features/game-log/game-log.component.ts
  client/src/app/components/features/messages-zone/messages-zone.component.html
  client/src/app/components/features/messages-zone/messages-zone.component.scss
  client/src/app/components/features/messages-zone/messages-zone.component.spec.ts
  client/src/app/components/features/messages-zone/messages-zone.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/game-log/game-log.service.spec.ts
  client/src/app/services/game-log/game-log.service.ts
  common/enums/game-log-event-type.enum.ts
  common/interfaces/game-log-entry.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat : ajout des message de debut fin et resultat de combat et debit de tour dans le journal
  client/src/app/components/features/game-log/game-log.component.ts
  client/src/app/services/game-log-socket/game-log-socket.service.ts
  client/src/app/services/game-log/game-log.service.ts
  client/src/app/services/socket/socket.service.ts
  common/enums/game-log-events.enum.ts
  server/app/app.module.ts
  server/app/modules/chat/gateways/chat.gateway.ts
  server/app/modules/game-log/dto/game-log-entry.dto.ts
  server/app/modules/game-log/game-log.module.ts
  server/app/modules/game-log/gateways/game-log.gateway.spec.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat : ajout de l'activation de l'activation du mode debogage et l'ouverture et la fermeture d'une porte dans le journal
  server/app/enums/server-events.enum.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
Due: install:server, lint:server, test:server

feat : ajout de l'abandon et de la fin de partie dans le journal
  server/app/enums/server-events.enum.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
Due: install:server, lint:server, test:server

ajout du service game-log dans le commit
  server/app/modules/game-log/services/game-log.service.ts
Due: install:server, lint:server, test:server

feat: amélioration système de combat et gestion des sanctuaires
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/constants/player.constants.ts
  client/src/app/dto/player-dto.ts
  client/src/app/interfaces/damage-display.interface.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/services/character-creation-check/character-creation-check.service.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.spec.ts
  common/enums/in-game-events.enum.ts
  common/interfaces/combat.interface.ts
  common/interfaces/player.interface.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.ts
  server/app/modules/session/dto/player.dto.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/services/session.service.spec.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: implémentation des statistiques de fin de partie
  client/src/app/dto/game-statistics-dto.ts
  client/src/app/dto/global-statistics-dto.ts
  client/src/app/dto/player-statistics-dto.ts
  client/src/app/interfaces/game-statistics.interface.ts
  client/src/app/pages/game-statistics-page/game-statistics-page.component.html
  client/src/app/pages/game-statistics-page/game-statistics-page.component.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/statistics/statistics.service.ts
  common/enums/in-game-events.enum.ts
  common/interfaces/game-statistics.interface.ts
  common/interfaces/session.interface.ts
  server/app/constants/statistics.constants.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/in-game/dto/game-statistics.dto.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction des erreurs de lint et tests pour les statistiques
  server/app/constants/statistics.constants.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
Due: install:server, lint:server, test:server

feat: add centralized error handling with NotificationSocketService
  client/src/app/services/notification-coordinator/notification-coordinator.service.ts
  client/src/app/services/notification-socket/notification-socket.service.ts
  client/src/app/services/socket/socket.service.ts
  common/enums/notification-events.enum.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: ajout du placement des téléporteurs dans l'éditeur
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.html
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.scss
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.html
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.scss
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.ts
  client/src/app/dto/game-editor-dto.ts
  client/src/app/dto/patch-game-editor-dto.ts
  client/src/app/dto/player-dto.ts
  client/src/app/dto/teleport-channel-dto.ts
  client/src/app/dto/teleport-tile-coordinates-dto.ts
  client/src/app/dto/teleport-tiles-dto.ts
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/pages/editor-page/editor-page.component.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  server/app/modules/game-store/dto/game-editor.dto.ts
  server/app/modules/game-store/dto/patch-game-editor.dto.ts
  server/app/modules/game-store/dto/teleport-channel.dto.ts
  server/app/modules/game-store/dto/teleport-tiles.dto.ts
  server/app/modules/game-store/entities/game.entity.ts
  server/app/modules/game-store/entities/teleport-channel.entity.ts
  server/app/modules/game-store/services/game-store/game-store.service.ts
  server/app/modules/game-store/utils/game-dto-mapper/game-dto-mapper.util.ts
  server/app/modules/game-store/utils/teleports/teleports.utils.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: logique de placement des teleporteurs dans l'editeur - interactions complètes
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.html
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.scss
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.ts
  client/src/app/dto/teleport-tiles-dto.ts
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/pages/editor-page/editor-page.component.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-editor-teleport/game-editor-teleport.service.ts
  server/app/modules/game-store/dto/teleport-tiles.dto.ts
  server/app/modules/game-store/entities/game.entity.ts
  server/app/modules/game-store/entities/teleport-channel.entity.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: mise a jour des teleportChannels en base de données
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: ajout des déplacement en jeu via téléporteur
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.scss
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-map/game-map.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: logique de fin de tour quand il n'y a plus d'action et plus de mouvement possible - ne pas terminer le tour si un mouvement au coût de 0 est possible
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:server, lint:server, test:server

feat: embarquer sur un batea au coût de une action - le joueur est lié au bateau - le bâteau se déplace avec le joueur
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  common/enums/in-game-events.enum.ts
  common/interfaces/player.interface.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: centralisation de la gestion d'erreurs et refactorisation des noms de services
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/combat-timer/combat-timer.component.spec.ts
  client/src/app/components/features/combat-timer/combat-timer.component.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.spec.ts
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.ts
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.spec.ts
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.spec.ts
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/editor-page/editor-page.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/notification/notification.service.spec.ts
  client/src/app/services/notification/notification.service.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/session/session.service.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: nettoyage et standardisation des enums d'événements
  common/enums/chat-events.enum.ts
  common/enums/game-store-events.enum.ts
  common/enums/in-game-events.enum.ts
  common/enums/session-events.enum.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: corriger les imports dans les tests après refactoring des services
  client/src/app/services/notification/notification.service.spec.ts
  client/src/app/services/timer/timer.service.spec.ts
Due: install:client, lint:client, test:client

fix: correction des tests et lint après centralisation des erreurs
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

ajout des events LoadGameStatistics et centralisation gestion erreurs
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/statistics/statistics.service.ts
  common/enums/in-game-events.enum.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: permettre d'embarquer sur le bateau même si on se trouve sur la tile du bateau
  server/app/modules/in-game/services/action/action.service.ts
Due: install:server, lint:server, test:server

fix: tests coté client - ajout d'une commande de test "headless"
  client/package.json
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.spec.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/pages/editor-page/editor-page.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/services/character-creation-check/character-creation-check.service.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-editor-teleport/game-editor-teleport.service.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  server/app/modules/game-store/dto/teleport-channel.dto.ts
  server/app/modules/game-store/utils/teleports/teleports.utils.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: tests coté serveur
  client/src/app/dto/player-dto.ts
  client/src/app/dto/player-moved-dto.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/session/dto/player.dto.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: refactorisation d'interfaces
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  common/enums/available-action-type.enum.ts
  common/interfaces/available-action.interface.ts
  common/interfaces/position.interface.ts
  server/app/interfaces/active-combat.interface.ts
  server/app/interfaces/move-result.interface.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: changer interface anonyme pour Position
  client/src/app/services/game-map/game-map.service.ts
Due: install:client, lint:client, test:client

refactor: remp[lacement des parametres x,y par l'interface Position
  server/app/modules/in-game/gateways/combat/combat.gateway.spec.ts
  server/app/modules/in-game/gateways/combat/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/initialization/initialization.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:server, lint:server, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
