Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

fix: tests client side, server side
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/services/combat/combat.service.spec.ts
  server/app/interfaces/vp-config.interface.ts
  server/app/interfaces/vp-pathfinding-internal.interface.ts
  server/app/interfaces/vp-pathfinding.interface.ts
  server/app/modules/game-log/gateways/game-log.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.spec.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat(action): ajouter des actions pour toutes les positions des sanctuaires
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:server, lint:server, test:server

fix: laisser l'utilisation d'un sanctuaire de soin même si vie maximale (choix peut etre strategique)
  server/app/modules/in-game/services/action/action.service.ts
Due: install:server, lint:server, test:server

feat(sanctuary): afficher le turnCount des sanctuaires désactivés sur la map
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/dto/placeable-disabled-updated-dto.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  common/enums/in-game-events.enum.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/in-game/dto/placeable-disabled-updated.dto.ts
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: test client
  client/src/app/dto/placeable-disabled-updated-dto.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: ajout de notifications de confirmation pour suppression et abandon
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.html
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.scss
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.ts
  client/src/app/interfaces/notification-message.interface.ts
  client/src/app/pages/management-page/management-page.component.ts
  client/src/app/services/notification/notification.service.ts
  server/app/modules/in-game/services/virtual-player/vp-strategy.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: affichage des avatars sur les points de départ
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
Due: install:client, lint:client, test:client

feat: vouvoiement du joueur et format HH:MM:SS pour le chat
  client/src/app/components/features/chat/chat.component.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
Due: install:client, lint:client, test:client

fix: suppression du fichier vp-strategy.service.ts non désiré
  server/app/modules/in-game/services/virtual-player/vp-strategy.service.ts
Due: install:server, lint:server, test:server

test: correction du test de suppression avec notification de confirmation
  client/src/app/pages/management-page/management-page.component.spec.ts
Due: install:client, lint:client, test:client

ajout de tests
  client/src/app/components/features/flag-transfer-overlay/flag-transfer-overlay.component.spec.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  server/app/modules/chat/controllers/chat.controller.spec.ts
  server/app/modules/chat/gateways/chat.gateway.spec.ts
  server/app/modules/chat/services/chat.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

ajout de tests
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
  server/app/modules/in-game/controllers/in-game.controller.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

test : supression de commentaires inutiles
  client/src/app/components/features/avatar-card/avatar-card.component.spec.ts
  client/src/app/components/features/avatar-grid/avatar-grid.component.spec.ts
  client/src/app/components/features/chat/chat.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/components/features/game-log/game-log.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/player-card/player-card.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.spec.ts
  client/src/app/components/features/session-card/session-card.component.spec.ts
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.spec.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.spec.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.spec.ts
  client/src/app/pages/editor-page/editor-page.component.spec.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.spec.ts
  client/src/app/pages/statistics-page/statistics-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/chat-socket/chat-socket.service.spec.ts
  client/src/app/services/chat/chat.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-editor-teleport/game-editor-teleport.service.spec.ts
  client/src/app/services/game-log-socket/game-log-socket.service.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/game-store/game-store.service.spec.ts
  client/src/app/services/in-game-socket/in-game-socket.service.spec.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/statistics/statistics.service.spec.ts
Due: install:client, lint:client, test:client

test : ajout de test cote client
  client/src/app/components/features/flag-transfer-overlay/flag-transfer-overlay.component.spec.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  server/app/modules/chat/controllers/chat.controller.spec.ts
  server/app/modules/chat/gateways/chat.gateway.spec.ts
  server/app/modules/chat/services/chat.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(vp): permettre au porteur de drapeau d'attaquer les ennemis bloquants
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
Due: install:server, lint:server, test:server

fix(vp): continuer le tour après avoir atteint le drapeau
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
Due: install:server, lint:server, test:server

fix(vp): faire rester le VP défensif sur le point de garde
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
Due: install:server, lint:server, test:server

refactor(vp): utiliser des enums et interfaces pour les types
  server/app/constants/virtual-player.constants.ts
  server/app/enums/path-action-type.enum.ts
  server/app/enums/point-of-interest-type.enum.ts
  server/app/interfaces/vp-direction.interface.ts
  server/app/interfaces/vp-gameplay.interface.ts
  server/app/interfaces/vp-pathfinding-internal.interface.ts
  server/app/interfaces/vp-pathfinding.interface.ts
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
Due: install:server, lint:server, test:server

fix: server lint
  server/app/enums/path-action-type.enum.ts
  server/app/enums/point-of-interest-type.enum.ts
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.ts
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.ts
Due: install:server, lint:server, test:server

fix(editor): réinitialiser les téléport channels lors du reset
  client/src/app/constants/game-editor.constants.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/utils/object.utils.ts
Due: install:client, lint:client, test:client

feat(editor): valider que les téléporteurs ont deux points d'entrée
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

fix: client tests
  client/src/app/components/features/errors-badge/errors-badge.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/utils/object.utils.ts
Due: install:client, lint:client, test:client

Ajout bouton fermeture overlay de victoire
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-result/combat-result.component.html
  client/src/app/components/features/combat-result/combat-result.component.ts
Due: install:client, lint:client, test:client

Suppression test html2canvas problématique
  client/src/app/services/screenshot/screenshot.service.spec.ts
Due: install:client, lint:client, test:client

Correction inputs required et fix test html2canvas
  client/src/app/components/features/combat-result/combat-result.component.ts
  client/src/app/services/screenshot/screenshot.service.spec.ts
Due: install:client, lint:client, test:client

feat: ajout d'un bouton d'abandon pendant les combats
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
Due: install:client, lint:client, test:client

fix: déclencher un abandon de combat lors de la déconnexion d'une socket
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
Due: install:server, lint:server, test:server

feat(combat): ajouter bouton d'abandon dans le combat overlay
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  server/app/enums/path-action-type.enum.ts
  server/app/enums/point-of-interest-type.enum.ts
  server/app/interfaces/vp-direction.interface.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix lint
  server/app/modules/chat/controllers/chat.controller.spec.ts
  server/app/modules/chat/gateways/chat.gateway.spec.ts
  server/app/modules/chat/services/chat.service.spec.ts
  server/app/modules/game-log/gateways/game-log.gateway.spec.ts
  server/app/modules/game-log/services/game-log.service.spec.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
  server/app/modules/game-store/utils/teleports/teleports.utils.spec.ts
  server/app/modules/in-game/controllers/in-game.controller.spec.ts
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/services/action/action.service.spec.ts
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/initialization/initialization.service.spec.ts
  server/app/modules/in-game/services/movement/movement.service.spec.ts
  server/app/modules/in-game/services/statistics/statistics.service.spec.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
  server/app/modules/in-game/services/tracking/tracking.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
  server/app/modules/in-game/services/virtual-player/virtual-player.service.spec.ts
  server/app/modules/in-game/services/vp-ctf/vp-ctf.service.spec.ts
  server/app/modules/in-game/services/vp-execution/vp-execution.service.spec.ts
  server/app/modules/in-game/services/vp-gameplay/vp-gameplay.service.spec.ts
  server/app/modules/in-game/services/vp-pathfinding/vp-pathfinding.service.spec.ts
  server/app/modules/session/controllers/session.controller.spec.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

fix lint
  server/app/modules/session/controllers/session.controller.spec.ts
Due: install:server, lint:server, test:server

fix lint
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

fix: détecter les tuiles inaccessibles entre placeables bloquants
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

fix test roule a l'infini
  server/app/modules/in-game/services/combat/combat.service.spec.ts
  server/app/modules/in-game/services/statistics/statistics.service.spec.ts
  server/app/modules/in-game/services/turn-timer/turn-timer.service.spec.ts
Due: install:server, lint:server, test:server

Retrait du bouton de verrouillage manuel de la salle d'attente
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.html
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.scss
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.ts
Due: install:client, lint:client, test:client

Ajout du lock/unlock automatique selon la capacité de la session
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.spec.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/session/session.service.ts
Due: install:client, lint:client, test:client

Amélioration du design du modal d'informations de tuile
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.html
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.scss
Due: install:client, lint:client, test:client

Amélioration du message d'abandon avec saut de ligne
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.scss
Due: install:client, lint:client, test:client

feat: mise à jour du fond d'écran avec optimisation de la résolution
  client/src/assets/images/background.png
  client/src/styles.scss
Due: install:client, lint:client, test:client
