Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - install:client
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  dependencies:
  - install:server
  artifacts:
    paths:
    - server/coverage/

fix(game-editor-check): correction des methode qui utilisait des objet anonymes pour des interfaces
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  common/interfaces/connected-component.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(game-socket.service): correction des methode qui utilisait des objet anonymes pour des interfaces
  client/src/app/services/game-socket/game-socket.service.ts
  common/interfaces/game-id-payload.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(character interface): correction des methode qui utilisait des objet anonymes pour des interfaces
  common/interfaces/attributes.interface.ts
  common/interfaces/character.interface.ts
  common/interfaces/dice-assignement.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor(connectedWalkableComponents): division de la methode connectedWalkableComponents originale en petites methodes
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

fix: disable bateaux et sanctuaires dans l'editeur de jeu
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.html
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.ts
Due: install:client, lint:client, test:client

fix: ne pas calculer de position lors du respawn d'un joueur déjà sur son start point
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
Due: install:server, lint:server, test:server

feat: calcul des tiles accessibles en fin de combat - contraste améliorer pour la visualisation des tuiles accessibles
  client/src/app/components/features/game-map-tile/game-map-tile.component.scss
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: ajustement du resume timer coté client
  client/src/app/services/timer/timer.service.ts
Due: install:client, lint:client, test:client

refactor: turn timer et combat timer dans un seul fichier
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/combat-timer/combat-timer.component.ts
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/services/combat-timer/combat-timer.service.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.ts
  common/enums/placeable-kind.enum.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: notifications toast et popup dans le même service - afin de limiter les dépendances dans certains constructeurs
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.html
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.scss
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.spec.ts
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.ts
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.html
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.scss
  client/src/app/components/features/toast-notification-display/toast-notification-display.component.ts
  client/src/app/components/features/toast/toast.component.ts
  client/src/app/pages/app/app.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/editor-page/editor-page.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/popup-notification/popup-notification.service.spec.ts
  client/src/app/services/popup-notification/popup-notification.service.ts
  client/src/app/services/session/session.service.ts
  client/src/app/services/toast/toast.service.ts
Due: install:client, lint:client, test:client

fix: redonner la vie aux personnages lors d'un match nul + retourner à leurs positions initiales
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:server, lint:server, test:server

delete: popup-notification.service + utilisation du service notification global
  client/src/app/services/popup-notification/popup-notification.service.spec.ts
  client/src/app/services/popup-notification/popup-notification.service.ts
Due: install:client, lint:client, test:client

refactor: rername : toasts -> toastNotifications
  client/src/app/services/notification-coordinator/notification-coordinator.service.ts
Due: install:client, lint:client, test:client

fix: lint serveur et client
  client/package-lock.json
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
  client/src/app/services/in-game-keyboard-events/in-game-keyboard-events.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/package-lock.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: package-lock
  client/package-lock.json
Due: install:client, lint:client, test:client

fix(lint): correction d'erreurs lint
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: Amélioration assurance qualité - Centralisation des constantes
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/constants/character.constants.ts
  client/src/app/constants/combat.constants.ts
  client/src/app/constants/game.constants.ts
  client/src/app/constants/notification.constants.ts
  client/src/app/constants/player-info.constants.ts
  client/src/app/constants/player.constants.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/notification-coordinator/notification-coordinator.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.ts
Due: install:client, lint:client, test:client

cleanup: suppression majorité commentaires inutiles
  client/src/app/constants/player.constants.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: centralisation interfaces serveur dans dossier interfaces/
  server/app/interfaces/game-map.interface.ts
  server/app/interfaces/reachable-tile-exploration-context.interface.ts
  server/app/interfaces/turn-timer-data.interface.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:server, lint:server, test:server

refactor: centralisation types serveur dans dossier types/
  server/app/modules/game-store/entities/game.entity.ts
  server/app/modules/game-store/entities/tile.entity.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
  server/app/modules/game-store/services/game-store/game-store.service.spec.ts
  server/app/modules/game-store/services/game-store/game-store.service.ts
  server/app/modules/game-store/utils/game-dto-mapper/game-dto-mapper.util.spec.ts
  server/app/modules/game-store/utils/game-dto-mapper/game-dto-mapper.util.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.spec.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/types/mongoose-documents.types.ts
Due: install:server, lint:server, test:server

refactor: centralisation interfaces client + correction constantes player
  client/src/app/constants/player.constants.ts
  client/src/app/interfaces/combat-data.interface.ts
  client/src/app/interfaces/damage-display.interface.ts
  client/src/app/interfaces/victory-data.interface.ts
  client/src/app/services/combat/combat.service.ts
Due: install:client, lint:client, test:client

refactor: centralisation constante PLACEABLE_ORDER + déplacement enums vers dossier enum
  client/src/app/constants/game-editor.constants.ts
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/player/player.service.ts
  common/enums/game-session-events.enum.ts
  common/enums/game-store-events.enum.ts
  common/enums/in-game-events.enum.ts
  common/enums/item-type.enum.ts
  common/enums/session-events.enum.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction imports enums après déplacement vers dossier enums
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/game-socket/game-socket.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/socket/socket.service.ts
  server/app/modules/game-store/gateways/game-store.gateway.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

cleanup: suppression enums et interfaces non utilisés dans common
  common/enums/game-session-events.enum.ts
  common/enums/position.interface.ts
  common/enums/tile-type.enum.ts
  common/interfaces/board-tile.interface.ts
  common/interfaces/item-container.interface.ts
  common/interfaces/validation-result.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: déplacement enums spécifiques client/serveur hors de common
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/components/features/popup-notification-display/popup-notification-display.component.spec.ts
  client/src/app/components/ui/button/button.component.ts
  client/src/app/components/ui/icon/icon.component.spec.ts
  client/src/app/components/ui/icon/icon.component.ts
  client/src/app/components/ui/input/input.component.ts
  client/src/app/components/ui/page-layout/page-layout.component.spec.ts
  client/src/app/components/ui/sidebar/sidebar.component.spec.ts
  client/src/app/enums/button-variant.enum.ts
  client/src/app/enums/character-creation.enum.ts
  client/src/app/enums/fa-icons.enum.ts
  client/src/app/enums/input-variants.enum.ts
  client/src/app/enums/routes.enum.ts
  client/src/app/interfaces/notification-message.interface.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/pages/management-page/management-page.component.spec.ts
  client/src/app/pages/management-page/management-page.component.ts
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.spec.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  client/src/main.ts
  server/app/enums/turn-timer-states.enum.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

cleanup: suppression interface Character non utilisée + déplacement common/models vers common/interfaces
  client/src/app/components/features/avatar-card/avatar-card.component.ts
  client/src/app/components/features/avatar-grid/avatar-grid.component.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-card/player-card.component.ts
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.ts
  client/src/app/constants/player.constants.ts
  client/src/app/constants/session.constants.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  common/constants/default-avatar-assignments.constants.ts
  common/interfaces/avatar-assignement.interface.ts
  common/interfaces/character.interface.ts
  common/interfaces/player.interface.ts
  common/interfaces/session.interface.ts
  common/interfaces/start-point.interface.ts
  common/interfaces/turn-state.interface.ts
  server/app/interfaces/reachable-tile-exploration-context.interface.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
  server/app/modules/in-game/services/timer/timer.service.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: cleanup du dossier common - déplacement des enums spécifiques
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.spec.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/enums/placeable-label.enum.ts
  client/src/app/enums/placeable-mime.enum.ts
  client/src/app/enums/tile-label.enum.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  common/enums/dice.enum.ts
  common/enums/placeable-kind.enum.ts
  common/enums/tile-kind.enum.ts
  server/app/enums/dice-sides.enum.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction erreur de lint quote-props dans player-card.component.ts
  client/src/app/components/features/player-card/player-card.component.ts
Due: install:client, lint:client, test:client

fix: correction des imports dans les fichiers de tests
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-socket/game-socket.service.spec.ts
  client/src/app/services/socket/socket.service.spec.ts
Due: install:client, lint:client, test:client

fix(character-check): rajout de l'interface manquante
  common/interfaces/validation-result.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

ajout de testpour fichiers cote client
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/components/features/combat-timer/combat-timer.component.spec.ts
  client/src/app/components/features/errors-badge/errors-badge.component.spec.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.spec.ts
  client/src/app/components/features/player-info/player-info.component.spec.ts
  client/src/app/components/features/players-list/players-list.component.spec.ts
  client/src/app/components/features/turn-timer/turn-timer.component.spec.ts
  client/src/app/components/ui/input/input.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/services/screenshot/screenshot.service.spec.ts
Due: install:client, lint:client, test:client

feature: début de refonte de visuel de la vue de jeu
  client/src/app/components/features/game-map-footer/game-map-footer.component.html
  client/src/app/components/features/game-map-footer/game-map-footer.component.scss
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/components/features/game-map-header/game-map-header.component.html
  client/src/app/components/features/game-map-header/game-map-header.component.scss
  client/src/app/components/features/game-map-header/game-map-header.component.ts
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: traiter nextX et nextY invalides pour empêcher des valeurs comme -1 et map size
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:server, lint:server, test:server

feat: amélioration de l'interface de jeu et correction de sécurité
  client/src/app/components/features/game-map-footer/game-map-footer.component.html
  client/src/app/components/features/game-map-footer/game-map-footer.component.scss
  client/src/app/components/features/game-map-footer/game-map-footer.component.ts
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.scss
Due: install:client, lint:client, test:client

fix: image des dés en couleur lors des combats
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
Due: install:client, lint:client, test:client

feat: ajouter la zone de clavardage factice
  client/src/app/components/features/in-game-chat/in-game-chat.component.html
  client/src/app/components/features/in-game-chat/in-game-chat.component.scss
  client/src/app/components/features/in-game-chat/in-game-chat.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
Due: install:client, lint:client, test:client

refactor: ajout d'un timer dédié pour le game over - ne pas utiliser window.location pour la redirection
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.html
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/pages/home-page/home-page.component.html
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/timer-coordinator/timer-coordinator.service.ts
Due: install:client, lint:client, test:client

fix: libérer avatar quand joueur quitte ou est expulsé
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:server, lint:server, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
