Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

feat: prendre en compte l'effet -2 de la glace dans le système de combat
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  common/constants/in-game-events.ts
  common/enums/tile-kind.enum.ts
  common/interfaces/combat.interface.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix des problemes de lint
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
  client/src/app/services/in-game/in-game.service.ts
Due: install:client, lint:client, test:client

feat: afficher un overlay différent quand le combat est entre deux autres joueurs - informer du temps de pause
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/timer/timer.service.ts
Due: install:client, lint:client, test:client

fix: bien relancer le turn timer quand le combat se termine, et bien stopper et supprimer le combat timer
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:server, lint:server, test:server

feat: ajouter le compteur de combats pour un joueur - victoire - défaites - égalité - combats totaux
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/constants/player.constants.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/player/player.service.ts
  common/constants/in-game-events.ts
  common/models/player.interface.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: ajouter un écran de fin de partie avec le vainqueur
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.html
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.scss
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/constants/game-config.constants.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: notification discrète de combat en cours quand on est spectateur
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
Due: install:client, lint:client, test:client

feat: mettre à jour les victoires des différents joueurs sur l'UI
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.ts
Due: install:client, lint:client, test:client

fix: clic sur une action invalide
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: layout ingame
  client/src/app/components/features/game-info/game-info.component.scss
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
Due: install:client, lint:client, test:client

refactor: tooltip joueur depuis la tile pour une meilleure gestion des événements souris
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.scss
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
Due: install:client, lint:client, test:client

fix: tiles et objects lors d'une modification d'une map
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
Due: install:server, lint:server, test:server

fix: test coté serveur
  server/app/modules/in-game/services/timer/timer.service.spec.ts
Due: install:server, lint:server, test:server

fix: unification de la mise à jour des position des joueurs
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feature: bloquer l'affichage à 0 pv dans l'overlay de combat
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: sÃ©paration des timers de combat et de tour en services distincts
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/combat-timer/combat-timer.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/services/combat-timer/combat-timer.service.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/timer/timer.service.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: simplification de la gestion de fin de tour après combat
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/services/combat/combat.service.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: système de toasts et amélioration de la gestion des joueurs qui quittent
  .vscode/launch.json
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/components/features/toast/toast.component.html
  client/src/app/components/features/toast/toast.component.scss
  client/src/app/components/features/toast/toast.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/toast/toast.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: améliorations session, navigation et interface utilisateur
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/chat/chat.component.scss
  client/src/app/components/features/chat/chat.component.spec.ts
  client/src/app/components/features/chat/chat.component.ts
  client/src/app/constants/player.constants.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/pages/join-session-page/join-session-page.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  server/app/index.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: commenter tests non valide coté server
  server/app/modules/in-game/services/timer/timer.service.spec.ts
Due: install:server, lint:server, test:server

fix: rétablir launch.json
  .vscode/launch.json
Due: none

fix: ajout d'un eslint strict
  client/eslint.config.mjs
Due: install:client, lint:client, test:client

feat(combat): améliorer UX spectateurs et gestion timer combat
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.html
  client/src/app/components/features/turn-timer/turn-timer.component.scss
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Revert "feat(combat): améliorer UX spectateurs et gestion timer combat"
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/turn-timer/turn-timer.component.html
  client/src/app/components/features/turn-timer/turn-timer.component.scss
  client/src/app/components/features/turn-timer/turn-timer.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(lint): configuration ESLint stricte et correction de tous les warnings
  client/eslint.config.mjs
  client/package-lock.json
  client/package.json
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/components/features/notification-display/notification-display.component.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/pages/management-page/management-page.component.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  client/src/main.ts
  eslint.config.basic.mjs
  package.json
  server/app/app.module.ts
  server/app/index.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/package-lock.json
  server/package.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: importer eslint-plugin-eslint-comments directement dans chaque projet
  client/eslint.config.mjs
  eslint.config.basic.mjs
  server/eslint.config.mjs
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: déclencher les jobs install:client et install:server
  client/src/main.ts
  server/app/index.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: régénérer package-lock.json du serveur
  server/package-lock.json
Due: install:server, lint:server, test:server

refacor/fix: combat in game
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: retrait d'une condition booleenne superflue
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:server, lint:server, test:server

mettre a jour les positions et les actions des joueurs apres teleportation
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: validation backend toggle mode admin et désactivation auto
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:server, lint:server, test:server

fix: corrections combat en mode admin
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:server, lint:server, test:server

fix: corrections téléportation mode admin
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
Due: install:client, lint:client, test:client

fix : erreur de lint
  client/src/app/pages/game-session-page/game-session-page.component.ts
Due: install:client, lint:client, test:client

fix : probleme de lint dans le server
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:server, lint:server, test:server

fix: enlever le check "object on tile" pour la teleportation
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
Due: install:client, lint:client, test:client

fix(character-creation-check): correction des methode qui utilisait des objet anonymes pour des interfaces
  client/src/app/services/character-creation-check/character-creation-check.service.ts
Due: install:client, lint:client, test:client
