Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

suppression de fichiers inutiles
  common/interfaces/item-container.interface.ts
  common/types/tile-type.type.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

nettoyage de commentaires
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/screenshot/screenshot.service.spec.ts
  client/src/main.ts
Due: install:client, lint:client, test:client

feat: Implémentation complète du système de sessions
  client/src/app/components/features/chat/chat.component.html
  client/src/app/components/features/chat/chat.component.scss
  client/src/app/components/features/chat/chat.component.spec.ts
  client/src/app/components/features/chat/chat.component.ts
  client/src/app/components/features/player-card/player-card.component.html
  client/src/app/components/features/player-card/player-card.component.scss
  client/src/app/components/features/room-code/room-code.component.html
  client/src/app/components/features/room-code/room-code.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
Due: install:client, lint:client, test:client

correctif: résolution de tous les échecs de tests et erreurs de lint
  client/src/app/components/features/avatar-card/avatar-card.component.spec.ts
  client/src/app/components/features/avatar-grid/avatar-grid.component.spec.ts
  client/src/app/components/features/errors-badge/errors-badge.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-preview-card/game-preview-card.component.spec.ts
  client/src/app/components/features/notification-display/notification-display.component.spec.ts
  client/src/app/components/features/player-card/player-card.component.spec.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.spec.ts
  client/src/app/components/ui/icon/icon.component.ts
  client/src/app/components/ui/input/input.component.spec.ts
  client/src/app/components/ui/page-layout/page-layout.component.spec.ts
  client/src/app/components/ui/sidebar/sidebar.component.spec.ts
  client/src/app/directives/ui-base/ui-base.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/editor-page/editor-page.component.spec.ts
  client/src/app/pages/home-page/home-page.component.spec.ts
  client/src/app/pages/management-page/management-page.component.spec.ts
  client/src/app/pages/parameters-page/parameters-page.component.spec.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.spec.ts
  client/src/app/services/assets/assets.service.spec.ts
  client/src/app/services/character-creation-check/character-creation-check.service.spec.ts
  client/src/app/services/character-store/character-store.service.spec.ts
  client/src/app/services/game-store/game-store.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  server/app/constants/session.constants.ts
  server/app/modules/game-store/gateways/game-store.gateway.spec.ts
  server/app/modules/session/controllers/session-dto.controller.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/module/session.module.ts
  server/app/modules/session/services/session.service.spec.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(avatar-card/grid): correction qualite de code
  client/src/app/components/features/avatar-card/avatar-card.component.ts
  client/src/app/components/features/avatar-grid/avatar-grid.component.html
Due: install:client, lint:client, test:client

chore(error-badge): correction qualite de code
  client/src/app/components/features/errors-badge/errors-badge.component.ts
Due: install:client, lint:client, test:client

chore(player-card): correction assurance qualite
  client/src/app/components/features/player-card/player-card.component.html
  client/src/app/components/features/player-card/player-card.component.ts
Due: install:client, lint:client, test:client

chore(game-preview-card): correction
  client/src/app/components/features/game-preview-card/game-preview-card.component.ts
Due: install:client, lint:client, test:client

chore(waiting-room-actions): correction assurance qualite
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.html
Due: install:client, lint:client, test:client

refactor: convert computed getters to readonly properties in services
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  openapitools.json
Due: install:client, lint:client, test:client

chore(waiting-room-page): disable le bouton de message tant que la fonction de messagerie n'est pas finie
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
Due: install:client, lint:client, test:client

chore(model): correction des path des enum dans les fichier ts de model
  common/models/avatar-assignement.interface.ts
  common/models/session.interface.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat(input): ajout de l'option de disable le champ input
  client/src/app/components/ui/input/input.component.html
  client/src/app/components/ui/input/input.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
Due: install:client, lint:client, test:client

refactor(client): réorganisation de l'architecture des services de session
  client/src/app/components/features/avatar-card/avatar-card.component.scss
  client/src/app/constants/player.constants.ts
  client/src/app/dto/avatar-selection-joined-dto.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/pages/join-session-page/join-session-page.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session-socket/session-socket.service.ts
  client/src/app/services/session/session.service.ts
  common/constants/session-events.ts
  server/app/modules/session/controllers/session-dto.controller.ts
  server/app/modules/session/dto/join-avatar-selection.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/module/session.module.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix(jeux): correction lors d'une modification du jeux, il est remis en prive et met a jour dynamiquement l'image de previsualisation du jeu
  server/app/game-store/services/game-editor/game-editor.service.ts
Due: install:server, lint:server, test:server

fix: tests du game editor service côté serveur
  server/app/game-store/services/game-editor/game-editor.service.spec.ts
Due: install:server, lint:server, test:server

fix(boutons game-card): reduction de la charge cognitive pour le bouton de publication et modifier
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
Due: install:client, lint:client, test:client

fix(bouton publiation): correction du bouton de publication
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
Due: install:client, lint:client, test:client

fix(page admin): afficher le dernier jeu créé tout en bas, et conserver l'ordre
  server/app/game-store/services/game-store/game-store.service.ts
Due: install:server, lint:server, test:server

fix: disable le teleporteur dans l'editeur (non implémenté) + fix test serveur
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.html
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.scss
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  server/app/game-store/services/game-store/game-store.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat(selction de D): ajout du nom du de choisi pour l'attaque et defence
  client/src/app/pages/character-creation-page/character-creation-page.component.html
Due: install:client, lint:client, test:client

feat(session-jeu): implémentation de l'affichage interactif de la carte
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/game-http/game-http.service.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/session/session.service.ts
Due: install:client, lint:client, test:client

refactor: nettoyer les commentaires du code
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/services/game-map/game-map.service.ts
Due: install:client, lint:client, test:client

fix: supprimer l'ancienne image lors de la mise à jour de la prévisualisation du jeu
  server/app/game-store/services/game-editor/game-editor.service.ts
Due: install:server, lint:server, test:server

fix: corriger les tests pour la suppression d'image
  server/app/game-store/services/game-editor/game-editor.service.spec.ts
Due: install:server, lint:server, test:server

Ajout des panneaux d'informations de partie et joueur
  client/src/app/components/features/game-info/game-info.component.html
  client/src/app/components/features/game-info/game-info.component.scss
  client/src/app/components/features/game-info/game-info.component.ts
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/constants/player-info.constants.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/character-creation-check/character-creation-check.service.ts
  client/src/app/services/character-editor/character-editor.service.spec.ts
  client/src/app/services/character-editor/character-editor.service.ts
  client/src/app/services/character-store/character-store.service.ts
  client/src/app/services/game-map/game-map.service.ts
Due: install:client, lint:client, test:client

refactor(game editor): déplacer la gestion des erreurs (et notifications) de sauvegarde vers le service
  client/src/app/pages/editor-page/editor-page.component.spec.ts
  client/src/app/pages/editor-page/editor-page.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

feat: implémenter le système de gestion des tours avec timer automatique
  client/src/app/constants/session.constants.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/notification/notification.service.ts
  client/src/app/services/socket/socket.service.ts
  common/constants/in-game-events.ts
  common/models/player.interface.ts
  common/models/session.interface.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/module/in-game.module.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/module/session.module.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: simplifier l'initialisation des sessions en jeu
  server/app/modules/in-game/services/in-game-grid.service.ts
  server/app/modules/in-game/services/in-game-session.service.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/in-game/services/turn-state-machine.service.ts
Due: install:server, lint:server, test:server

feat: implémentation refactorisée du système de session de jeu / tour par tour
  client/src/app/constants/player.constants.ts
  client/src/app/constants/session.constants.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/session/session.service.ts
  common/constants/in-game-events.ts
  common/constants/in-game.ts
  common/models/player.interface.ts
  common/models/session.interface.ts
  common/models/start-point.interface.ts
  common/models/turn-state.interface.ts
  server/app/modules/game-store/services/game-store/game-store.service.ts
  server/app/modules/game-store/utils/game-dto-mapper/game-dto-mapper.util.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/module/in-game.module.ts
  server/app/modules/in-game/services/in-game-grid.service.ts
  server/app/modules/in-game/services/in-game-session.service.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/in-game/services/turn-engine.service.ts
  server/app/modules/in-game/services/turn-state-machine.service.ts
  server/app/modules/in-game/services/turn-timer.service.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/module/session.module.ts
  server/app/modules/session/services/session.service.ts
  server/package-lock.json
  server/package.json
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: refactorisation du InGameService et corrections des tests
  client/src/app/pages/character-creation-page/character-creation-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
  server/app/modules/game-store/services/game-store/game-store.service.spec.ts
  server/app/modules/in-game/module/in-game.module.ts
  server/app/modules/in-game/services/game-cache.service.ts
  server/app/modules/in-game/services/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: extraction du TimerService dans son propre fichier
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/timer/timer.service.ts
Due: install:client, lint:client, test:client

test: ajout des tests unitaires pour les services in-game avec 100% de couverture
  server/app/modules/in-game/services/game-cache.service.spec.ts
  server/app/modules/in-game/services/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game.service.spec.ts
  server/app/modules/in-game/services/turn-engine.service.spec.ts
Due: install:server, lint:server, test:server

refactor: remplacer CommonModule par des imports spécifiques
  client/src/app/components/features/avatar-card/avatar-card.component.ts
  client/src/app/components/features/avatar-grid/avatar-grid.component.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.ts
  client/src/app/components/features/game-preview-card/game-preview-card.component.ts
  client/src/app/components/features/notification-display/notification-display.component.ts
  client/src/app/components/features/player-card/player-card.component.html
  client/src/app/components/features/player-card/player-card.component.ts
  client/src/app/components/features/room-code/room-code.component.ts
  client/src/app/components/features/stats-bar/stats-bar.component.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.ts
  client/src/app/components/ui/button/button.component.ts
  client/src/app/components/ui/header/header.component.ts
  client/src/app/components/ui/page-layout/page-layout.component.ts
  client/src/app/components/ui/sidebar/sidebar.component.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/pages/home-page/home-page.component.ts
  client/src/app/pages/join-session-page/join-session-page.component.ts
  client/src/app/pages/management-page/management-page.component.ts
  client/src/app/pages/parameters-page/parameters-page.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  server/assets/game-previews/game-68d362f23457ccbf7422cee3-preview.png
  server/assets/game-previews/game-68d366c397cc70062567f6b7-preview.png
  server/assets/game-previews/game-68d36e06c69097281d3373f8-preview.png
  server/assets/game-previews/game-68d3815d9870b002c67b8d49-preview.png
  server/assets/game-previews/game-68d3842b9870b002c67b8dec-preview.png
  server/assets/game-previews/game-68d38c3ddf827b695ba2f545-preview.png
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix des erreurs de lint et tests cote client
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/services/game-http/game-http.service.spec.ts
Due: install:client, lint:client, test:client

refactor: nettoyage des commentaires inutiles
  client/src/app/components/features/game-map/game-map.component.html
Due: install:client, lint:client, test:client

feat: ajout des contrôles de jeu et interface améliorée
  client/src/app/components/features/game-timer/game-timer.component.html
  client/src/app/components/features/game-timer/game-timer.component.scss
  client/src/app/components/features/game-timer/game-timer.component.ts
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
Due: install:client, lint:client, test:client
