Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*

fix: débarquer du bateau quand le joueur est replacé à son point de départ
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:server, lint:server, test:server

fix: tests server
  server/app/modules/session/services/session.service.spec.ts
Due: install:server, lint:server, test:server

refactor: créer des DTOS pour les événements de bateaux et sanctuaires
  client/openapi-generator.config.json
  client/src/app/dto/available-action-dto.ts
  client/src/app/dto/available-actions-dto.ts
  client/src/app/dto/open-sanctuary-dto.ts
  client/src/app/dto/placeable-position-updated-dto.ts
  client/src/app/dto/player-boarded-boat-dto.ts
  client/src/app/dto/player-bonuses-changed-dto.ts
  client/src/app/dto/player-disembarked-boat-dto.ts
  client/src/app/dto/sanctuary-action-failed-dto.ts
  client/src/app/dto/sanctuary-action-success-dto.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.spec.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/in-game/dto/available-actions.dto.ts
  server/app/modules/in-game/dto/empty-response.dto.ts
  server/app/modules/in-game/dto/in-game-session.dto.ts
  server/app/modules/in-game/dto/open-sanctuary.dto.ts
  server/app/modules/in-game/dto/placeable-position-updated.dto.ts
  server/app/modules/in-game/dto/player-boarded-boat.dto.ts
  server/app/modules/in-game/dto/player-bonuses-changed.dto.ts
  server/app/modules/in-game/dto/player-disembarked-boat.dto.ts
  server/app/modules/in-game/dto/player-left-in-game-session.dto.ts
  server/app/modules/in-game/dto/player-updated.dto.ts
  server/app/modules/in-game/dto/reachable-tiles.dto.ts
  server/app/modules/in-game/dto/sanctuary-action-failed.dto.ts
  server/app/modules/in-game/dto/sanctuary-action-success.dto.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: suppresion dto inutiles
  server/app/modules/in-game/dto/in-game-session.dto.ts
  server/app/modules/in-game/dto/player-left-in-game-session.dto.ts
  server/app/modules/in-game/dto/player-updated.dto.ts
  server/app/modules/in-game/dto/reachable-tiles.dto.ts
Due: install:server, lint:server, test:server

finalisation du systeme de journal : Événements implémentés: - Embarquement/débarquement de bateau - Utilisation de sanctuaire- Téléportation via tuiles
  server/app/enums/server-events.enum.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:server, lint:server, test:server

fix des problemes de tests
  client/src/app/components/features/game-log/game-log.component.spec.ts
  client/src/app/components/features/game-log/game-log.component.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix des problemes de lint
  client/src/app/constants/game-log.constants.ts
  client/src/app/services/game-log/game-log.service.ts
  client/src/app/services/socket/socket.service.ts
  server/app/modules/game-log/constants/game-log.constants.ts
  server/app/modules/game-log/dto/combat-result-entry.dto.ts
  server/app/modules/game-log/dto/sanctuary-use-entry.dto.ts
  server/app/modules/game-log/dto/teleport-entry.dto.ts
  server/app/modules/game-log/gateways/game-log.gateway.spec.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

amélioration de la qualité de code
  client/src/app/components/features/game-log/game-log.component.ts
  common/types/game-log-metadata.type.ts
  server/app/modules/game-log/dto/combat-result-entry.dto.ts
  server/app/modules/game-log/dto/game-log-entry-base.dto.ts
  server/app/modules/game-log/dto/game-log-entry.dto.ts
  server/app/modules/game-log/dto/game-log-payloads.dto.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix de bugs
  client/src/app/components/features/game-log/game-log.component.spec.ts
  client/src/app/components/features/game-log/game-log.component.ts
  client/src/app/services/game-log/game-log.service.spec.ts
  client/src/app/services/game-log/game-log.service.ts
Due: install:client, lint:client, test:client

fix des tests
  client/src/app/services/game-log/game-log.service.ts
Due: install:client, lint:client, test:client

amélioration des cartes de session avec détails du jeu
  client/angular.json
  client/src/app/components/features/session-card/session-card.component.html
  client/src/app/components/features/session-card/session-card.component.scss
  client/src/app/components/features/session-card/session-card.component.ts
  client/src/app/constants/display.constants.ts
  client/src/app/dto/session-preview-dto.ts
  server/app/modules/session/dto/available-sessions-updated.dto.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
  server/app/modules/session/session.module.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: système de tracking des statistiques en temps réel
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/initialization/initialization.service.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
  server/app/modules/in-game/services/tracking/tracking.service.ts
Due: install:server, lint:server, test:server

feat: implémentation contrainte CTF nombre pair et verrouillage automatique
  client/src/app/constants/session.constants.ts
  client/src/app/dto/create-session-dto.ts
  client/src/app/dto/session-joined-dto.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.html
  client/src/app/pages/waiting-room-page/waiting-room-page.component.scss
  client/src/app/pages/waiting-room-page/waiting-room-page.component.ts
  client/src/app/services/player/player.service.ts
  client/src/app/services/session/session.service.ts
  common/interfaces/session.interface.ts
  scripts/detect-unused-complete.js
  scripts/detect-unused-simple.js
  scripts/detect-unused.js
  server/app/constants/mongo-projections.constants.ts
  server/app/constants/statistics.constants.ts
  server/app/modules/in-game/services/statistics/statistics.service.ts
  server/app/modules/in-game/services/tracking/tracking.service.ts
  server/app/modules/session/dto/create-session.dto.ts
  server/app/modules/session/dto/join-session.dto.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/gateways/session.gateway.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction des tests côté serveur et nettoyage des sockets
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: amélioration visuelle de la page de session de jeu
  client/src/app/components/features/game-map-footer/game-map-footer.component.html
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.scss
Due: install:client, lint:client, test:client

fix: empêcher le mode debug de se déclencher lors de la saisie dans le chat
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/services/in-game-keyboard-events/in-game-keyboard-events.service.ts
  client/src/app/types/input.types.ts
Due: install:client, lint:client, test:client

feat: avatars animés dans le combat overlay
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
Due: install:client, lint:client, test:client

refactor: renommer GameStatisticsPage en StatisticsPage et redirection après timeout
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/enums/routes.enum.ts
  client/src/app/pages/statistics-page/statistics-page.component.html
  client/src/app/pages/statistics-page/statistics-page.component.scss
  client/src/app/pages/statistics-page/statistics-page.component.ts
  client/src/app/services/timer/timer.service.ts
  client/src/main.ts
Due: install:client, lint:client, test:client

correctif: tests client corrigés - tous les 915 tests passent maintenant
  client/src/app/components/features/combat-overlay/combat-overlay.component.spec.ts
  client/src/app/services/player/player.service.spec.ts
  client/src/app/services/session/session.service.spec.ts
  client/src/app/services/timer/timer.service.spec.ts
  server/app/modules/session/gateways/session.gateway.spec.ts
  server/app/modules/session/services/session.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

ajout de tests cote client
  client/src/app/components/features/avatar-card/avatar-card.component.spec.ts
  client/src/app/components/features/avatar-grid/avatar-grid.component.spec.ts
  client/src/app/components/features/game-info/game-info.component.spec.ts
  client/src/app/components/features/in-game-chat/in-game-chat.component.spec.ts
  client/src/app/components/features/player-card/player-card.component.spec.ts
  client/src/app/components/features/session-card/session-card.component.spec.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.spec.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.spec.ts
  client/src/app/pages/join-session-page/join-session-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
Due: install:client, lint:client, test:client

amelioration de la couverture cote client
  client/src/app/components/features/chat/chat.component.spec.ts
  client/src/app/components/features/game-editor-toolbar/game-editor-toolbar.component.spec.ts
  client/src/app/components/features/game-info/game-info.component.spec.ts
  client/src/app/components/features/game-log/game-log.component.spec.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/in-game-chat/in-game-chat.component.spec.ts
  client/src/app/components/features/player-card/player-card.component.spec.ts
  client/src/app/components/features/sanctuary-overlay/sanctuary-overlay.component.spec.ts
  client/src/app/components/features/session-card/session-card.component.spec.ts
  client/src/app/components/features/virtual-player-card/virtual-player-card.component.spec.ts
  client/src/app/components/features/virtual-player-modal/virtual-player-modal.component.spec.ts
  client/src/app/components/features/waiting-room-actions/waiting-room-actions.component.spec.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.spec.ts
  client/src/app/pages/join-session-page/join-session-page.component.spec.ts
  client/src/app/pages/statistics-page/statistics-page.component.spec.ts
  client/src/app/pages/waiting-room-page/waiting-room-page.component.spec.ts
  client/src/app/services/chat-socket/chat-socket.service.spec.ts
  client/src/app/services/chat/chat.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-teleport/game-editor-teleport.service.spec.ts
  client/src/app/services/game-log-socket/game-log-socket.service.spec.ts
  client/src/app/services/reset/reset.service.spec.ts
  client/src/app/services/screenshot/screenshot.service.spec.ts
  client/src/app/services/session-socket/session-socket.service.spec.ts
  client/src/app/services/statistics/statistics.service.spec.ts
Due: install:client, lint:client, test:client

feat: assignation automatique des équipes au lancement de la partie
  client/src/app/components/features/game-map/game-map.component.html
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/components/features/players-list/players-list.component.html
  client/src/app/components/features/players-list/players-list.component.scss
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/constants/session.constants.ts
  client/src/app/enums/team-color.enum.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  common/enums/in-game-events.enum.ts
  common/interfaces/player.interface.ts
  common/interfaces/session.interface.ts
  common/interfaces/team.interface.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/initialization/initialization.service.ts
  server/app/modules/session/gateways/session.gateway.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: réorganisation des handlers du gateway in-game par fonctionnalité
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
Due: install:server, lint:server, test:server

refactor: récupération automatique du drapeau lors du déplacement
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  common/enums/available-action-type.enum.ts
  common/enums/placeable-kind.enum.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: désactiver l'attaque sur un joueur d'une mêm équipe
  server/app/modules/in-game/services/action/action.service.ts
Due: install:server, lint:server, test:server

fix lints
  server/app/modules/game-log/dto/game-log-entry-base.dto.ts
Due: install:server, lint:server, test:server

feat: Ajout de la logique CTF complète avec transfert et repositionnement du drapeau
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.scss
  client/src/app/dto/flag-transferred-dto.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/enums/available-action-type.enum.ts
  common/enums/in-game-events.enum.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/in-game/dto/flag-transferred.dto.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: Système de demande/réponse pour transfert de drapeau avec overlay modal
  client/src/app/components/features/flag-transfer-overlay/flag-transfer-overlay.component.html
  client/src/app/components/features/flag-transfer-overlay/flag-transfer-overlay.component.scss
  client/src/app/components/features/flag-transfer-overlay/flag-transfer-overlay.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/dto/flag-transfer-request-dto.ts
  client/src/app/dto/flag-transfer-response-dto.ts
  client/src/app/dto/flag-transfer-result-dto.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/enums/in-game-events.enum.ts
  server/app/enums/server-events.enum.ts
  server/app/modules/in-game/controllers/in-game.controller.ts
  server/app/modules/in-game/dto/flag-transfer-request.dto.ts
  server/app/modules/in-game/dto/flag-transfer-response.dto.ts
  server/app/modules/in-game/dto/flag-transfer-result.dto.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

refactor: Séparation des gateways et amélioration du transfert de drapeau CTF
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.html
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.scss
  client/src/app/components/features/game-over-overlay/game-over-overlay.component.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/interfaces/pending-flag-transfer.interface.ts
  server/app/modules/in-game/gateways/in-game-action/in-game-action.gateway.ts
  server/app/modules/in-game/gateways/in-game/in-game.gateway.ts
  server/app/modules/in-game/in-game.module.ts
  server/app/modules/in-game/services/action/action.service.ts
  server/app/modules/in-game/services/gameplay/gameplay.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/movement/movement.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: event emitter limite atteinte (11 > 10) - passage de la limite à 20
  server/app/app.module.ts
  server/app/index.ts
  server/app/modules/in-game/in-game.module.ts
Due: install:server, lint:server, test:server

feat(client): amélioration de la page de création de session et des cartes de jeu
  client/src/app/components/features/game-preview-card/game-preview-card.component.html
  client/src/app/components/features/game-preview-card/game-preview-card.component.scss
  client/src/app/components/features/game-preview-card/game-preview-card.component.ts
  client/src/app/pages/session-creation-page/session-creation-page.component.html
  client/src/app/pages/session-creation-page/session-creation-page.component.scss
  client/src/app/pages/session-creation-page/session-creation-page.component.ts
  client/src/app/services/game-store/game-store.service.ts
Due: install:client, lint:client, test:client

fix(qualité): suppression code inutilisé et ajout script de détection
  client/package-lock.json
  client/package.json
  client/scripts/find-unused-members.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/directives/ui-base/ui-base.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/timer/timer.service.spec.ts
  client/src/app/services/timer/timer.service.ts
  scripts/detect-unused-complete.js
  scripts/detect-unused-simple.js
  scripts/detect-unused.js
Due: install:client, lint:client, test:client

fix(qualité): ajout scripts détection et correction code inutilisé
  client/package.json
  client/scripts/find-duplicate-methods.ts
  client/scripts/find-unused-methods.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.spec.ts
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  client/src/app/services/game-log/game-log.service.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
Due: install:client, lint:client, test:client

fix(structure): suppression package.json racine et correction script
  client/src/app/services/game-log/game-log.service.ts
  package.json
  scripts/check-unnecessary-files.sh
Due: install:client, lint:client, test:client

feat(qualité): ajout scripts npm vérification qualité
  client/package.json
  scripts/check-quality.sh
Due: install:client, lint:client, test:client

fix(tests): suppression tests méthodes non existantes
  client/src/app/components/features/game-log/game-log.component.html
  client/src/app/components/features/game-log/game-log.component.scss
  client/src/app/components/features/game-log/game-log.component.spec.ts
  client/src/app/components/features/game-log/game-log.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.spec.ts
  client/src/app/components/features/game-map/game-map.component.spec.ts
  client/src/app/components/features/messages-zone/messages-zone.component.html
  client/src/app/components/features/messages-zone/messages-zone.component.scss
  client/src/app/components/features/messages-zone/messages-zone.component.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
  client/src/app/services/game-log-socket/game-log-socket.service.ts
  client/src/app/services/game-log/game-log.service.spec.ts
  client/src/app/services/game-map/game-map.service.spec.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/socket/socket.service.ts
  server/app/modules/game-log/dto/combat-result-entry.dto.ts
  server/app/modules/game-log/dto/game-log-entry-base.dto.ts
  server/app/modules/game-log/dto/game-log-entry.dto.ts
  server/app/modules/game-log/dto/game-log-payloads.dto.ts
  server/app/modules/game-log/dto/sanctuary-use-entry.dto.ts
  server/app/modules/game-log/dto/teleport-entry.dto.ts
  server/app/modules/game-log/game-log.module.ts
  server/app/modules/game-log/gateways/game-log.gateway.spec.ts
  server/app/modules/game-log/gateways/game-log.gateway.ts
  server/app/modules/game-log/services/game-log.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server
