Repository Ilyes-Jamoussi/Online-Multiplayer-RPG-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: install:client, install:server, lint:client, lint:server, test:client, test:server

install:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    - client/.npm/
    policy: pull-push
  stage: install
  script:
  - cd client
  - npm ci --cache .npm --prefer-offline

install:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    - server/.npm/
    policy: pull-push
  stage: install
  script:
  - cd server
  - npm ci --cache .npm --prefer-offline

lint:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:client
  allow_failure: true
  script:
  - cd client
  - npm run lint

lint:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: lint
  needs:
  - install:server
  allow_failure: true
  script:
  - cd server
  - npm run lint

test:client:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-client
    paths:
    - client/node_modules/
    policy: pull
  stage: test
  needs:
  - install:client
  script:
  - Xvfb :99 -ac -screen 0 1920x1080x24 &
  - cd client
  - npm run coverage -- --browsers=ChromeHeadlessNoSandbox --watch=false
  dependencies:
  - install:client
  ...

test:server:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-server
    paths:
    - server/node_modules/
    policy: pull
  stage: test
  needs:
  - install:server
  script:
  - cd server
  - npm run coverage
  dependencies:
  - install:server
  artifacts:
    paths:
    - server/coverage/

fix: déplacement sur les portes possibles
  server/app/modules/in-game/services/in-game-movement.service.ts
Due: install:server, lint:server, test:server

implementation des teleportations en mode admin
  client/src/app/components/features/game-map-tile/game-map-tile.component.html
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/admin-mode/admin-mode.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game-events.ts
  common/models/session.interface.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(comp): changement du nom de la variable comp a component
  client/src/app/directives/ui-base/ui-base.component.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(probs): changement du nom de la variable a quelque chose de plus significatif
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(dirs): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(tk): changement du nom de la variable tk a quelque chose de plus significatif
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
Due: install:client, lint:client, test:client

chore(acc): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

chore(o): changement du nom a quelque chose de plus significatif
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
  server/app/modules/in-game/services/in-game-initialization.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(doc): changement du nom a quelque chose de plus significatif
  server/app/modules/game-store/services/game-editor/game-editor.service.ts
  server/app/modules/game-store/utils/game-dto-mapper/game-dto-mapper.util.spec.ts
Due: install:server, lint:server, test:server

chore(g): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-store/game-store.service.spec.ts
  client/src/app/services/game-store/game-store.service.ts
  server/app/modules/game-store/services/game-editor/game-editor.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(n): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

chore(xy): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-store/game-editor-store.service.spec.ts
Due: install:client, lint:client, test:client

chore(tx, ty): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
Due: install:client, lint:client, test:client

chore(b): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
Due: install:client, lint:client, test:client

fix: pipeline
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.spec.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.spec.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.spec.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
Due: install:server, lint:server, test:server

chore(comps): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

feat: Implémentation complète du système de combat et gestion des actions
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/game-map-tile-modal/game-map-tile-modal.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/components/features/game-map/game-map.component.ts
  client/src/app/components/features/player-info/player-info.component.html
  client/src/app/components/features/player-info/player-info.component.scss
  client/src/app/components/features/player-info/player-info.component.ts
  client/src/app/components/features/players-list/players-list.component.ts
  client/src/app/pages/game-session-page/game-session-page.component.html
  client/src/app/pages/game-session-page/game-session-page.component.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  common/constants/in-game-events.ts
  common/interfaces/combat.interface.ts
  common/models/player.interface.ts
  common/models/session.interface.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-initialization/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correction des erreurs de lint et des tests
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/player-info/player-info.component.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.spec.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.spec.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: correctifs de gameplay et gestion des tours
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  common/constants/in-game.ts
  common/enums/turn-timer-states.enum.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: améliorer la fin des tours - les tours se terminent s'il n'y a plus de speed restante et aucune action adjacentes disponibles - le compteur d'actions se met à jour suite à un évément socket
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/player/player.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat: arreter le tour si aucune tile n'est accessible et aucune action n'est possible
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
Due: install:server, lint:server, test:server

refactor(combat): séparation complète de la logique de combat et refonte du système de timer
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  client/src/app/services/game-map/game-map.service.ts
  client/src/app/services/in-game-socket/in-game-socket.service.ts
  client/src/app/services/in-game/in-game.service.ts
  client/src/app/services/timer/timer.service.ts
  common/constants/in-game-events.ts
  common/enums/dice.enum.ts
  common/interfaces/combat.interface.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/gateways/in-game.gateway.ts
  server/app/modules/in-game/module/in-game.module.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/game-cache/game-cache.service.ts
  server/app/modules/in-game/services/in-game-action/in-game-action.service.ts
  server/app/modules/in-game/services/in-game-movement/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game/in-game.service.ts
  server/app/modules/in-game/services/timer/timer.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

fix: synchronisation du timer de combat
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  common/constants/in-game-events.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
  server/app/modules/in-game/services/in-game-session/in-game-session.repository.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

feat(combat): transition victoire/défaite, stats détaillées et barres de vie
  client/src/app/components/features/combat-overlay/combat-overlay.component.html
  client/src/app/components/features/combat-overlay/combat-overlay.component.scss
  client/src/app/components/features/combat-overlay/combat-overlay.component.ts
  client/src/app/services/combat-socket/combat-socket.service.ts
  client/src/app/services/combat/combat.service.ts
  common/constants/in-game-events.ts
  common/constants/in-game.ts
  server/app/modules/in-game/gateways/combat.gateway.ts
  server/app/modules/in-game/services/combat-timer/combat-timer.service.ts
  server/app/modules/in-game/services/combat/combat.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(xs-ys): changement du nom a quelque chose de plus significatif
  client/src/app/interfaces/game-editor.interface.ts
  client/src/app/services/game-editor-store/game-editor-store.service.ts
Due: install:client, lint:client, test:client

chore(v): changement du nom a quelque chose de plus significatif
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/ui/button/button.component.spec.ts
  client/src/app/directives/tile-size/tile-size-probe.directive.spec.ts
  client/src/app/pages/character-creation-page/character-creation-page.component.ts
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
  server/app/modules/game-store/utils/placeable/placeable.util.spec.ts
  server/app/modules/game-store/utils/tile/tile.util.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(dt): changement du nom a quelque chose de plus significatif
  client/src/app/components/features/game-editor-inventory/game-editor-inventory.component.spec.ts
  client/src/app/components/features/game-editor-object/game-editor-object.component.spec.ts
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.spec.ts
Due: install:client, lint:client, test:client

chore(nk): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(ny, nx, cy, cx): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(q): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.ts
Due: install:client, lint:client, test:client

chore(p): changement du nom a quelque chose de plus significatif
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/features/game-map-tile/game-map-tile.component.ts
  client/src/app/pages/editor-page/editor-page.component.ts
  client/src/app/services/game-editor-check/game-editor-check.service.ts
  client/src/app/services/in-game/in-game.service.ts
  server/app/modules/game-store/utils/placeable/placeable.util.spec.ts
  server/app/modules/in-game/services/in-game-initialization.service.ts
  server/app/modules/in-game/services/in-game-movement.service.ts
  server/app/modules/in-game/services/in-game-session.repository.ts
  server/app/modules/in-game/services/in-game.service.spec.ts
  server/app/modules/in-game/services/in-game.service.ts
  server/app/modules/session/services/session.service.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(m): changement du nom a quelque chose de plus significatif
  client/src/app/services/game-editor-check/game-editor-check.service.spec.ts
  client/src/app/services/game-editor-interactions/game-editor-interactions.service.ts
Due: install:client, lint:client, test:client

chore(c): changement du nom a quelque chose de plus significatif
  client/src/app/components/ui/input/input.component.ts
  client/src/app/directives/ui-base/ui-base.component.spec.ts
Due: install:client, lint:client, test:client

chore(r): changement du nom a quelque chose de plus significatif
  client/src/app/directives/tile-size/tile-size-probe.directive.ts
  server/app/modules/in-game/services/in-game-initialization.service.spec.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

chore(ro): changement du nom a quelque chose de plus significatif
  client/src/app/directives/tile-size/tile-size-probe.directive.spec.ts
Due: install:client, lint:client, test:client

chore(w, h): changement du nom a quelque chose de plus significatif
  client/src/app/components/features/game-editor-object/game-editor-object.component.ts
  client/src/app/directives/tile-size/tile-size-probe.directive.spec.ts
Due: install:client, lint:client, test:client

chore(cb): changement du nom a quelque chose de plus significatif
  client/src/app/directives/tile-size/tile-size-probe.directive.spec.ts
Due: install:client, lint:client, test:client

chore(el): changement du nom a quelque chose de plus significatif
  client/src/app/components/features/game-editor-tile/game-editor-tile.component.ts
  client/src/app/components/ui/header/header.component.spec.ts
  client/src/app/directives/tile-size/tile-size-probe.directive.ts
Due: install:client, lint:client, test:client

chore(s): changement du nom a quelque chose de plus significatif
  client/src/app/components/ui/button/button.component.spec.ts
  server/app/modules/game-store/utils/placeable/placeable.util.spec.ts
  server/app/modules/in-game/services/in-game-session.repository.ts
Due: install:client, install:server, lint:client, lint:server, test:client, test:server

Path conditions:
  install:client: any of: client/**/*, common/**/*
  install:server: any of: server/**/*, common/**/*
  lint:client: any of: client/**/*, common/**/*
  lint:server: any of: server/**/*, common/**/*
  test:client: any of: client/**/*, common/**/*
  test:server: any of: server/**/*, common/**/*
